$body-bg-color: #fff;

$text-color: #000;
$text-link-color: #929191;
$text-link-hover-color: $text-color;

$subheading-color: $text-color;
$article-list-link-color: $text-color;

$header-bg-color: transparent;
$header-bottom-border: solid 1px #000;

$footer-bg-color: transparent;
$footer-text-color: $text-color;
$footer-link-color: $text-color;

$border-grey: solid 1px $text-link-color;

$topic-link-color: $text-color;
$primary-topic-hover-color: $text-link-color;

$divider-color: $text-link-color;

$contributor-label-color: $text-color;

$blurb-author-link-color: $text-color;
$blurb-link-color: $text-link-color;
$blurb-link-hover-color: $text-color;
$blurb-bio-text-color: $text-link-color;
$blurb-border: $border-grey !default;

$article-block-bg-color: transparent;

$article-block-text-color: $text-link-color;
$article-block-link-color: $text-color;
$article-block-list-marker-color: $text-link-color;
$article-block-border-width:3px;
$article-block-border-color:$text-link-color;


$article-quote-border-color: $text-link-color;

$article-toc-border-width: 3px;
$article-toc-border-color: $text-link-color;
$article-toc-bg-color: transparent;
$article-toc-link-color: $text-link-color;
$article-toc-link-hover-color: $text-color;
$article-toc-link-underline: underline;


$related-title-color: $text-color;

$article-teaser-color: $text-link-color;

$share-link-color: $text-color;
$share-link-hover-color: $text-link-hover-color;
$share-link-hover-underline: underline;

$article-shareable-text-color: $text-link-color;
$top-link-color: $text-link-color;

$footer-link-hover-color: $text-link-color;

$primary-topic-color: #000;
$overlay-text-color: #000;
$border-white:0;

$social-border: 1px solid #000;

$header-collapsed-bg-color: #fff ;
$header-text-color: #000;
$header-link-color: #000;
$header-link-hover-color: #fff;

$main-menu-bg-color: #fff;
$main-menu-color: #000;
