{% extends "base.html" %}
{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags theme_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block theme_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/light/css/light.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/womendiplomacy/css/women_diplomacy.scss' %}">
{% endblock %}

{% block extra_js %}
   <script type="text/javascript" src="{% static 'themes/womendiplomacy/js/women_diplomacy.js' %}"></script>
{% endblock %}

{% block content %}
 
<article id="article-page">

    <img class="background-cover" src="{% static 'themes/womendiplomacy/img/background-top.jpg' %}">

    <div class="heading">

        <ul class="share-links" data-page-id="{{ self.id }}">
            <li class="twitter">

                <a href="https://twitter.com/share?text={{ self.title|urlencode }}&url={{ self.full_url|urlencode:" " }}">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="facebook">
                <div>
                    <span class="facebook-share-link" data-url="{{ self.full_url }}">
                        <i class="fa fa-facebook-square"></i></span></div>
            </li>
        </ul>
        {% include 'articles/includes/article-metadata.html' %}
    </div>

    <div class="story">
        {% include 'articles/includes/story-content.html' %}
        <div class="home-link">
            <a href="/"><img src="{% static 'img/opencanada-mark.png' %}"></a>
        </div>
    </div>

</article>

{% endblock %}
