$body-bg-color: #fff9e3;
$feature-background: #e1cb9c;
// $breakpoint: 10000px;

$font: 'Proxima-Nova', Helvetica, sans-serif !default;
$limegreen: #2db92a;
$silver: #b8b8b8;
$tapa: #7F7F6F;
$beige: #d4cfbc;
$red: #b71e3b;


$header-text-color: #fff;
$header-link-color: $feature-background;
$header-link-hover-color: $red;
$header-bg-color: #000;

$text-color: #000;
$text-link-color: #929191;
$text-link-hover-color: $text-color;

$active-color: $red;
$active-height: 3px;

$reading-bar-color: $active-color;
$reading-bar-height: 4px;
