body{
  background-color: $body-bg-color;
  font-family: $font;
}

/**** reading progress bar  ****/
.readingbar{
  z-index: 9999;
  width: 0%;
  height: $reading-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $reading-bar-color;
}

header.collapsed .wordmark{
  display: block;
}

.reading, #mobile-chapter-menu{
  display: none;
}

.opencanada-logo{
  // padding: 0 20px;
  display: inline;
  float: left;

  img {
      max-height: 18px;
      width: auto;
      display: block;
  }
}

.chapters {
  display: inline;
  float: right;
  text-transform: uppercase;
  text-align: right;
  .title {
    display: inline-block;
    font-weight: bold;
  }

  .chapter-links{
    display: inline;

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: inline;

      li{
        display: inline;
        margin: 0 10px;
        a{
          color: $header-link-color;
        }
        a:hover,
        &.active {
          border-bottom: 2px solid $active-color;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

@media(max-width: $screen-md){
  .reading, #mobile-chapter-menu{
    display: inline-block;
  }
  #mobile-chapter-menu{
    cursor: pointer;
    margin-left: 5px;
  }
  .chapters,
  .title{
    font-size: 12px;
  }
  .separator{
    display: none;
  }
  .opencanada-logo{
    margin-left: 20px;
    img{
      height: 12px;
      margin: 7px 0;
    }
  }
  .chapters{
    margin-right: 10px;
    .chapter-links{
      display: none;
      position: absolute;
      background: $red;
      right: 0;
      top: 55px;
      ul{
        display: block;
        li{
          display: block;
          text-align: left;
          margin: 10px 20px;
          font-size: 14px;
          &:last-child{
            margin: 10px 20px;
          }
          a:hover,
          a:focus,
          &.active {
            border-bottom: 2px solid black;
          }
        }
      }
    }
  }
}

@media(max-width: $screen-sm){  
  .reading{
    display: none;
  }
  .opencanada-logo{
    img{
      height: 9px;
    }
  }
  
}

/**** feature text area ****/
.template-article-page h1.medium{
  padding: 0 20%;
  line-height: 120%;
}
.contributors,
.date{
  font-size: 1em;
}

.feature-text {
  background-color: $feature-background;
  margin-top: -50px;
  text-align: center;

  .metadata{
    padding: 20px 0;
  }
  .date {
    display: block;
  }
  .contributor-label {
    color: inherit;
  }
  .title {
    text-transform: uppercase;
  }
  .share-links{
    .facebook:hover{
      cursor: pointer;
    }
    .facebook, a{
      color: $black;
      &:hover{
        color: $active-color;
      }
    }
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
    }
  }
}

/*** related materials ***/
.block-RelatedItems{
  .heading{
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-indent: -10000px;
    color: white;
    
  }
  // background: black;
  // position: absolute;
  // z-index: 100;
  // width: 50px;
  // height: 50px;
  // margin: 0;
  // border-radius: 50px;
  // top: 50px;

  // .heading{
  //   text-indent: -10000px;
  // }
  // ul.item_list{
  //   display: none;
  //   position: absolute;
  //   border: none;
  //   padding: 0;
  //   top: -50px;

  //   li .item_content{
  //     background: black;
  //     width: 77.1%;
  //     margin-left: 9.8%;
      
  //     a{
  //       display: block;
  //       color: white;
  //       padding: 10px;
  //       margin: 0 20px;
  //       border-bottom: solid 1px $red;
  //       &:hover{
  //         color: $beige;
  //       }
  //     }
  //   } 
  //   li:first-child .item_content{
  //     padding-top: 10px;
  //   }
  //   li:last-child .item_content{
  //     padding-bottom: 10px;
  //   }
  //   li:last-child .item_content a{
  //     border-bottom: none;
  //   }
  // }
  // &:before{
  //   color: white;
  //   content: '\f0c9';
  //   font-family: FontAwesome;
  //   font-size: 20px;
  //   line-height: 2.6;
  //   margin-left: 17px;
  //   cursor: pointer;
  // }
}
@media(max-width: $screen-sm){  
  .block-RelatedItems{
    position: relative;
    left: 45%;
    top: 0;
    ul.item_list{
      top: 60px;
    }
  }
}

/**** footer  *****/
footer{
  background-color: $body-bg-color;
}

.story{
  .heading-wrapper{
    text-align: center;
  }
  h2{
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: solid 1px $beige;
    margin-bottom: 0.7em;
    display: inline-block;
  }
}
