{% load theme_tags wagtailimages_tags wagtailcore_tags static core_tags %}

<header role="banner">
    <div class="banner container-fluid">
        <div class="row">
            <div class="col-xs-3 header-row">
                <div class="paging">
                    <div class="no">no.&ensp;</div>
                    <a class="aBack" href="#"><div class="hoverArrow">&nbsp;</div></a>
                    <div class="aCurrent">2</div>/<div class="aTotal">total</div>
                    <a class="aNext" href="#"><div class="hoverArrow">&nbsp;</div></a>
                </div>
            </div>

            <div class="col-xs-6 logo header-row">
                  <div class="wordmark">
                      {% get_logo "main-logo" as logo %}
                      {% get_logo_link "main-logo" as logo_link %}
                      <a href="{{ logo_link }}">{% image logo original %}</a>
                  </div>
            </div>
            <div class="col-xs-3 header-row">
                <span class="navbar-brand-mobile mNav">
                  <span class="line0"></span>
                  <span class="line1"></span>
                  <span class="line2"></span>
                </span>
            </div>
        </div>
    </div>
</header>
<div class="counter">100</div>
