{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

<div class="container-full-bleed main-feature overlay" style="height: 400px;">
    {% image self.main_image fill-2048x1200-c100 as background_image %}
    <div class="feature-image fullscreen-bg" {% if not self.video_document %} style="background-image: url('{{ background_image.url }}')" {% endif %}>
        <div class="feature-image-overlay" {% if self.opacity %} style="opacity:{{ self.opacity }} {% endif %}"></div>
    </div>

    <div class="feature-wrapper">
      <div class="feature-text">
        {% include metadata %}
      </div>
    </div>
</div>
<div class="preamble-wrap feature-text">
<div class="container">
  <div class="share-links">
  {% include 'themes/exceptionalism/articles/includes/share_links.html' %}
  </div>
  <hr class="short">
  <div class="subtitle">{{ self.excerpt|richtext }}</div>
  <hr class="short">
</div>
</div>
