{% extends "base.html" %}
{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block theme_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/light/css/light.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/kurdistan/css/kurdistan.scss' %}">
{% endblock %}

{% block extra_js %}
    <script>
        FeatureStyles.MainFeatures.setSize({{ self.full_bleed_image_size }});
    </script>
    <script type="text/javascript" src="{% static 'themes/components/js/transparency.js' %}"></script>
    <script type="text/javascript" src="{% static 'themes/kurdistan/js/kurdistan.js' %}"></script>
{% endblock %}

{% block header %}
    {% include 'core/header.html' with tagline=False %}
{% endblock %}

{% block content %}

    {% if self.main_image and self.include_main_image_overlay %}
       {% include 'themes/kurdistan/articles/article-feature.html' with metadata='articles/includes/article-metadata.html' %}
    {% endif %}

    <article id="article-page">

        <div class="story">
            {% include 'articles/includes/json-embed.html' %}
            {% include 'articles/includes/story-content.html' %}
            {% include 'articles/includes/advanced-content.html' %}

            <div class="home-link"><a href="/"><img src="{% static 'img/opencanada-mark.png' %}"></a></div>
        </div>

        {% if self.topics %}
            <div class="container">
                <div class="topics related narrow-content">
                    <div class="topic-label"><i class="fa fa-tags"></i> Topics:</div>
                    <ul class="list-inline">
                        {% for topic in self.topics %}
                            <li><a href="{% topic_url topic %}">{{ topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </article>


{% endblock %}

{% block footer %}
   {% include 'themes/components/simple_footer.html' %}
{% endblock %}