{% load static core_tags wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    {% include "newsletter/includes/newsletter_head.html" %}
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateContainer">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN HEADER // -->
                                    {% include "newsletter/includes/newsletter_header.html" %}
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContainer">
                                            <!-- BEGIN BODY // -->
                                            {% for article in self.articles%}
                                                {% if forloop.first %}
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right" class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
                                                                    <a href="{{ article.url }}">{% image article.main_image width-450 %}</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                    <p>{{ article.excerpt }}</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                {% else %}

                                            <!-- // END FEATURE -->
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                        <tbody class="mcnTextBlockOuter">
                                                            <tr>
                                                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                    {% image article.main_image width-150 %}
                                                                </td>
                                                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                    <h3>{{ article.title }}</h3>
                                                                    <p>{{ article.excerpt }}</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                {% endif %}

                                               {% endfor %}
                                                <!-- // END ARTICLES -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateBody">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="bodyContainer"><h2>BEST OF THE WEB</h2></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateBody">
                                                        {% for external in self.external_articles.all %}

                                                        <tr>
                                                            <td>
                                                                {{ external.title }}
                                                                {{ external.body }}
                                                                {{ external.website_link }}
                                                                {{ external.source.logo }}
                                                                {{ external.source.website }}
                                                            </td>

                                                            <td>

                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateBody">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="bodyContainer"><h2>EVENTS</h2></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateBody">
                                                        {% for event in self.events.all %}
                                                            HERE

                                                        <tr>
                                                            <td>
                                                                {{ event.title }}
                                                                {{ event.date }}
                                                                {{ event.location }}
                                                                {{ event.event_link }}
                                                                {{ event.organization.logo }}
                                                                {{ event.organization.website }}
                                                            </td>

                                                            <td>

                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner">

                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="650" class="mcnTextContentContainer">
                                                                    <tbody><tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <em>Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                                                <br>
                                                *|IFNOT:ARCHIVE_PAGE|*
                                                    *|LIST:DESCRIPTION|*
                                                    <br>
                                                    <br>
                                                    <strong>Our mailing address is:</strong>
                                                    <br>
                                                    *|HTML:LIST_ADDRESS_HTML|* *|END:IF|*
                                                    <br>
                                                    <br>
                                                    <a href="*|UNSUB|*" class="utilityLink">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="*|UPDATE_PROFILE|*" class="utilityLink">update subscription preferences</a>&nbsp;
                                                    <br>
                                                    <br>
                                                    *|IF:REWARDS|* *|HTML:REWARDS|*
                                                *|END:IF|*
                                                                        </td>
                                                                    </tr>
                                                                </tbody></table>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>

