{% load static core_tags wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    {% include "newsletter/includes/newsletter_head.html" %}
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateContainer">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN HEADER // -->
                                    {% include "newsletter/includes/newsletter_header.html" %}
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN BODY // -->
                                    <!-- Feature Story // -->

                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContainer">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner">

                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="650" class="mcnTextContentContainer">
                                                                    <tbody>
                                                                        <tr>

                                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                                <h2>Designing Your Email</h2>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                    <tbody class="mcnImageBlockOuter">
                                                            <tr>
                                                                <td valign="top" style="padding-bottom: 20px; padding-left: 10px; padding-right: 10px; padding-top:10px" class="mcnImageBlockInner">
                                                                    <table align="center" width="30%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="right" class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
                                                                                    <a href="https://twitter.ca/opencanada"><img src="{% static 'img/twitter-25.png' %}" alt="twitter" class="img-responsive" width="20px"></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner">

                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="650" class="mcnTextContentContainer">
                                                                    <tbody><tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <h1>Designing Your Email</h1><h3>Creating an elegant email is simple</h3><p>Now that you’ve selected a template to work with, drag in content blocks to define the structure of your message. Don’t worry, you can always delete or rearrange blocks as needed. Then click “Design” to define fonts, colors, and styles.</p><p>Need inspiration for your design? <a href="http://inspiration.mailchimp.com" class="mc-template-link">Here’s what other MailChimp users are doing.</a></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody></table>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner">

                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="650" class="mcnTextContentContainer">
                                                                    <tbody><tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <em>Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                                                <br>
                                                *|IFNOT:ARCHIVE_PAGE|*
                                                    *|LIST:DESCRIPTION|*
                                                    <br>
                                                    <br>
                                                    <strong>Our mailing address is:</strong>
                                                    <br>
                                                    *|HTML:LIST_ADDRESS_HTML|* *|END:IF|*
                                                    <br>
                                                    <br>
                                                    <a href="*|UNSUB|*" class="utilityLink">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;
                                                    <a href="*|UPDATE_PROFILE|*" class="utilityLink">update subscription preferences</a>&nbsp;
                                                    <br>
                                                    <br>
                                                    *|IF:REWARDS|* *|HTML:REWARDS|*
                                                *|END:IF|*
                                                                        </td>
                                                                    </tr>
                                                                </tbody></table>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>

