/* ==========================================================================
   Variables
   ========================================================================== */

$transparent: rgba(0,0,0,0);
$black: rgba(0,0,0,1);
$white: rgba(255, 255, 255, 1);
$white50: rgba(255, 255, 255, 0.5);
$gray: rgba(155, 155, 155, 1);
$grey: $gray;
$red: rgba(191, 30, 46, 1);
$blue: rgba(6, 33, 81, 0.7);

/* ==========================================================================
   Webfonts
   ========================================================================== */

@import "../fonts/SanFranciscoText-Light/styles.css";
$fontStack: "SF-Light", Helvetica, sans-serif;

/* ==========================================================================
   Typography
   ========================================================================== */

body {
   font-family: $fontStack;
   background: #fff;
}

main{
  margin-top: -130px;
  padding: 0;
}

p {
   font-size: 14px;
   line-height: 21px;
   font-weight: 300;
}

.feature{
  h1{
    color: $white;
    font-size: 2.5em;
    line-height: 1.25em;
    font-weight: 500;
    max-width: 250px;
    padding-top: 45vh;
  }
 
} 

.story h2 {
   font-size: 2em;
   position: relative;
   margin-top: 0;
   padding-bottom: 1em;
   margin-bottom: 0.5em;
   line-height: 1.25em;
   font-weight: 500;
   
    @media only screen and (max-width : 768px) {      
      padding-bottom: 21px;
      margin-bottom: 25px;
    }
   
   &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 120px;
      background: $red;
   }
}

a, a:focus, a:visited {
   display: inline-block;
   color: $red;
   outline: none;
   text-decoration: none;
   &:hover {
     color: $red;
     text-decoration: none;
   }
}

header{
  background: transparent;
  &.collapsed .wordmark{
    display: block;
  }
  &.scrolled,
  &.notscrolled{
    background: transparent;
  }
  .logo,
  &.collapsed .logo{
    width: 50%;
  }
  .logo .wordmark{
    line-height: auto;
  }

  @media(max-width: $screen-md){
    .header-row{
      text-align: center;
    }
  }
}


/* ==========================================================================
   Navigation
   ========================================================================== */

.navbar-brand-mobile {
   z-index: 999;
   height: 2.5em;
   width: 2.5em;
   position: absolute;
   right: 0;
   
   .line0, .line1, .line2 {
      background: $white;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: -2.3em;
      transform: translateX(2.3em)translateY((0));
      opacity: 1;
      transition: 0.5s all ease;
   }
   .line1 {
      opacity: 1;
      top: 0.95em;
      height: 0.05em;
      border-radius: 0%;
      background: $white;
      border: 0px solid $transparent;
      transform: translateX(2.3em) rotate(0deg);
   }
   .line2 {
      top: 0;
      transform: translateX(2.3em)translateY(1.9em);
      transition: 0.5s 0.1s all ease;
   }
   
   &:hover, &.hover {
     cursor: pointer;
      .line0 {
         width: 1.8em;
         opacity: 1;
         transform: 
            translateX(2.55em)
            translateY(1.1em)
            rotate(45deg);

      }
      .line1 {
         opacity: 1;
         top: 0em;
         height: 2.18em;
         border-radius: 50%;
         background: $transparent;
         border: 1px solid $white;
         transform: translateX(2.3em) rotate(180deg);
         transition: 0.75s all ease;
      }
      .line2 {
         width: 1.8em;
         opacity: 1;
         transform: 
            translateX(2.55em)
            translateY(1.1em)
            rotate(-45deg);
      }
   }
   @media(max-width: $screen-md){
     right: auto;
   }

}


/* ==========================================================================
   Overlay Menu
   ========================================================================== */

article .toc ul{
  border: none;
}

.mNav-menu {
   background: rgba(0,0,0,0.85);
   height: 100vh;
   width: 100vw;
   position: fixed;
   display: block;
   top: -100vh;
   left: 0; 
   z-index: -99;
   padding-top: 15em;
   overflow-y: scroll;
   transform: translateY(100vh);
   opacity: 0;
   
   transition: 1s all ease;
   
   &.closed {
      transform: translateY(100vh);
      opacity: 1;
      z-index: 99;
   }
 
    li {
      &:hover{
        color: $red;
      }
      a{
        display: block;
        color: $grey;
        &:hover{
          color: $white;
        }
      }
    }
}

/* ==========================================================================
   Pager
   ========================================================================== */

.paging {
    display: none;
   * {
      display: inline-block;
   }
   text-align: left;
   transition: 1s all ease;
   position: relative;
   z-index: 2;
   .hoverArrow {
      border: 1px solid $transparent;
   }
   .aNext, .aBack {
      position: relative;
      top: -.2em;
   }
   .aBack {
      transform: rotate(180deg);
      top: -.3em;
   }
   .aCurrent{
     padding-right: 0.2em;
   }
   .aTotal{
     padding-left: 0.2em;
   }
   a:hover {
      border-bottom: 1px $transparent solid;
   }
  //  &.show {
  //     opacity: 1;
  //  }
  //  @media(max-width: $screen-md){
  //    .no{
  //      display: none;
  //    }
  //  }
  //  @media(max-width: $screen-xs){
  //    .aCurrent, .aTotal{
  //      display: none;
  //    }
  //  }
}

/* ==========================================================================
   Structure
   ========================================================================== */

.full {
   height: 100%;
   min-height: 100vh;
   display: block;
   
   .container {
      min-height: 75vh;
      position: relative;
      padding-top: 20vh;
      padding-bottom: 5vh
   }
}

article .story{
  margin: 0;
}

.story {
   .contributors {
      font-size: 1.125em;
      line-height: 1.25em;
      letter-spacing: 1.4pt; 
      .contributor:after{
        content:'\00A0\2022\00A0';
      }
      .contributor:last-child{
        &:after{
          content: '';
        }
      }
      a {
        display: inline-block;
        transition: all 550ms ease;
        transform: translateY(0.125em);
        margin-top: -0.125em;
        &:hover {
          transform: translateY(0em);
          border-bottom: 1px dotted $red;
        }
    }
   }
     
   div.container > div > div.col-md-4.col-sm-4.aos-init.aos-animate > a:hover {
      border-bottom: 0 solid transparent;
   }
}

section {
    overflow: hidden;
    position: static; 
    transform: translate3d(0,0,0);
    background-position: center center;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    // transition: 1s all ease;
    height: auto;
    
    @media only screen and (min-width : 992px)  {
      background-attachment: fixed;
    }
      
   * {
      z-index: 6;
   }
   
    &::after {
      content: " "; 
      position: absolute;
      top: 0;
      left: 0; 
      width: 100%;
      height: 100%;
      z-index: 3;
      @include gradient(rgba(0,0,0,0), rgba(0,0,0,1));
      @include transition(0.5s all ease);
   }
}

.story{
   @media only screen and (max-width : 768px) {
    padding-top: 120px;
    }
   background-color: $transparent;
   &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: $blue;
      transition: 0.5s all ease;
  }
  &.feature::before{
    background: none;
  }
   @media only screen and (max-width : 480px) {
      .hoverArrow {
         margin-bottom: 50vh;
      }             
   }
}

span.bgTrigger {
   padding: 5px;
   padding-left: 0;
}


/* ==========================================================================
   Editor's Note
   ========================================================================== */

#intro {
  
    a {
        display: inline-block;
        transition: all 550ms ease;
        transform: translateY(0.125em);
        margin-top: -0.125em;
        &:hover {
          transform: translateY(0em);
          border-bottom: 1px dotted $red;
        }
        &::after {
          content: " §";
        }
    }

    &.story::before{
      background-color: #000;
    }

    hr {
      width: 100%;
      margin: 0 auto;
      border-top: 1px dotted $white;
      margin-top: 34px;
      margin-bottom: 150px;
    }

}


/* ==========================================================================
   Articles
   ========================================================================== */

.block-RelatedItems{
  margin: 0;
}


/* ==========================================================================
   Stacking
   ========================================================================== */

// .generate-z-index(20);

// .generate-z-index($n, $i: 1) when ($i =< $n) {
//    $c: ($n - $i);
//   .z-${c} {
//     z-index: ($c);
//   }
//   .generate-z-index($n, ($i + 1));
// } 
 
/* ==========================================================================
   Animation Assist
   ========================================================================== */

// a {
//    &:hover {
//       img {
//          -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
//          -moz-animation-play-state: paused; /* Chrome, Safari, Opera */
//          animation-play-state: paused;
//       }
//    }
// }  

// .arrow {
//    &:hover {
//       text-decoration: none;
//       border-bottom: 1px $transparent solid; 
//    }
//    &::after {
//       content: " " !important;
//    }
// }

/* ==========================================================================
   Counter & Dates
   ========================================================================== */

.counter {
   position: absolute;
   top: -20px;
   left: -90000px;
   z-index: 999;
   color: aqua;
   display: none;
   
}
.dateContainer {
   position: fixed;
   width: 100vw;
   display: block;
   top: 89px;
   z-index: 9;
   color: $white;
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 2pt;
   display: none;
   @media only screen and (min-width : 768px) {
      top: 68vh;
      font-size: 21px;
   }
}

.date.hide {
   display: none;
}

.number {
   position: fixed;
   display: block;
   height: 30px;
   z-index: 10;
   top: 29px;
   width: 100vw;
   opacity: 0;
   .container {
      padding-top: 0;
   }
} 

/* ==========================================================================
   Arrows
   ========================================================================== */
   
.rot90 {
   transform: rotate(0deg);
   display: inline-block;
   transition: 0.5s 0.25s all ease;
   &:hover{
      transform: rotate(90deg);
   }
}

.hoverArrow {
   clear: both;
   display: block;
   border: 1px solid $white;
   width: 2em;
   height: 2em;
   border-radius: 50%;
   position: relative;
   transition: 1s all ease;
   
   &::after {
      width: 0.5em;
      height: 0.5em;
      border: 1px solid $white;
      border-left: 0;
      border-bottom: 0;
      position: absolute;
      left: 0em;
      top: 0em;
      content: " ";
      transform: translateX(0.65em) translateY(0.65em) rotate(45deg);
      transition: 0.5s all ease;
   }

   &::before {
      width: 1.75em;
      height: 1px;
      background: $transparent;
      position: absolute;
      left: -2em;
      top: 0.85em;
      content: " ";
      transform: translateX(0em);
      transition: 0.5s all ease;
   }
      
   &:hover {
      border: 1px solid $transparent;
      &::after {
      width: 0.5em;
      height: 0.5em;
      border: 1px solid $white;
      border-left: 0;
      border-bottom: 0;
      position: absolute;
      left: 0em;
      top: 0em;
      content: " ";
      transform: translateX(1.35em) translateY(0.65em) rotate(45deg);
      }
      &::before {
         width: 1.75em;
         height: 1px;
         background: $white;
         position: absolute;
         left: -2em;
         top: 0.85em;
         content: " ";
         transform: translateX(2.1em);
      }
   }
}
// .body .hoverArrow {
//    margin-bottom: 30vh;
// }

/* ==========================================================================
   Mobile
   ========================================================================== */

// @media only screen and (max-width : 768px) {
//    .navbar.navbar-fixed-top, navbar.navbar-transparent {
//       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100;Neutral+Density */
// background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      
//    }            
// }
 
/* ==========================================================================
   Images
   ========================================================================== */

// .zoomImage {
//    background-position: 50% 55%;
//    @media only screen and (max-width : 480px) {
//                background-position: 50% 65%;
//              }
// }
// .story.zoomImage {
//    background-position: 70% 30%;

//    &::before {
//       background-color: rgba(15, 27, 47, 0.87);
//    }
//    &::after {
//       top: 10em;
//    }
// }
