$body-bg-color: #f7f7ef;
$feature-background: rgba(0,0,0,0.8);
// $breakpoint: 10000px;

$font: 'Proxima-Nova', Helvetica, sans-serif !default;
$beige: #d4cfbc;
$light-beige: #ffffed;
$red: #b71e3b;


$header-text-color: #fff;
$header-link-color: $feature-background;
$header-link-hover-color: $red;
$header-bg-color: #000;

$text-color: #000;
$text-link-color: #929191;
$text-link-hover-color: $text-color;

$active-color: #b73428;
$active-height: 3px;

$reading-bar-color: $active-color;
$reading-bar-height: 4px;
