header {
	&.transparency {
		.wordmark a:hover {
			color:$text-color;
			transition:color 1s;
		}
	}
}

footer {
	padding-top:20px;
	.container {
		padding-top:20px;
		border-top:1px solid $text-color;
	}
}

article {
	.home-link img {
		filter: grayscale(1) brightness(10);
		-webkit-filter: grayscale(1) brightness(10);
	}
}








