

footer {
	padding-top:20px;

	.contact {
		padding-top: 20px;
		border-top:1px solid $text-color;
	}
}

.template-article-page, .template-chaptered-article-page, .template-series-page {
	footer {
		.feature-caption {
			float: none;
			text-align: center;
		}
	}
}

article {
	.home-link img {
		filter: grayscale(1) brightness(10);
		-webkit-filter: grayscale(1) brightness(10);
	}
}








