{% extends  "wagtailadmin/base.html" %}
{% load gravatar static compress i18n %}
{% block titletag %}{% trans "Rebuild Search Index" %}{% endblock %}
{% block bodyclass %}rebuild_index{% endblock %}


{% block content %}
<header class="nice-padding">

        <div class="row row-flush">
            <div class="left col9">
                <h1 class="icon icon-cross">{% trans 'Rebuild Search Index' %}</h1>
            </div>
        </div>
    </header>
    <div class="row row-flush nice-padding">
        <div class="col8">
          <form id="page-edit-form" method="POST">
              {% csrf_token %}
              <div class=nice-padding">
                <h2>Rebuild Searchly hosted Elasticsearch Index</h2>
                <div class="help-block help-critical">
                  Rebuilding to index might take up to a minute and during the rebuild, search might not be available.
                </div>
                <input type="submit" value="yes" class="button yes"> <a href="{% url 'wagtailadmin_home' %}" class="button no">no</a>
              </div>
          </form>

        </div>
    </div>
{% endblock %}
