{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% if self.chapters %}
    <div class="mNav-menu">
        <div class="container">
            <div class="toc narrow-content">
                <ol>
                    <li><a href="#intro">Editor in Chief's Note</a></li>
                    {% for chapter in self.chapters %}
                        <li><a href="#{{ chapter.value.heading|slugify }}">{{ chapter.value.heading }}</a></li>
                    {% endfor %}
                    <li><a href="#contributors">Contributors</a></li>
                </ol>
            </div>
        </div>
    </div>
        
    {% for chapter in self.chapters %}
        {{ chapter }}
    {% endfor %}
{% endif %}
