{% extends "base.html" %}
{% load static article_tags compress core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block theme_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/light/css/light.scss' %}">
{% endblock %}

{% block extra_js %}
<script>
    FeatureStyles.MainFeatures.setSize({{ self.full_bleed_image_size }});
</script>
<script type="text/javascript" src="{% static 'themes/components/js/transparency.js' %}"></script>
{% endblock %}

{% block header %}
    {% include 'core/header.html' with tagline=False %}
{% endblock %}

{% block content %}

  {% if self.main_image and self.include_main_image_overlay %}
      {% include 'themes/light/articles/article-feature.html' with metadata='articles/includes/series-metadata.html' %}
  {% endif %}

    <article id="article-page">
        <div class="container">
            {% block share_links %}
                {% include 'articles/includes/share_links.html' %}
            {% endblock %}

            {% if not self.include_main_image_overlay or self.include_main_image_overlay and not self.main_image %}
                <div class="narrow-content">
                    {% include 'articles/includes/series-metadata.html' %}
                    {% if self.include_main_image and self.main_image %}
                        <figure class="main-image">
                            {% image self.main_image fill-940x627 %}
                        </figure>
                        {% if self.main_image.credit %}
                            <div class="image-credit">
                                {{ self.main_image.credit }}
                            </div>
                        {% endif %}
                        {% if self.main_image.source %}
                            <div class="image-source">
                                {{ self.main_image.source }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="story">
            {% include 'articles/includes/story-content.html' %}
        </div>

         <div class="container">
            <div class="in-the-series">
                 <h2>In the series</h2>
                {% with articles=self.articles %}
                    {% block in_the_series %}
                        {% include 'articles/includes/in_the_series.html' %}
                    {% endblock %}
                {% endwith %}
            </div>
        </div>

        {%if self.related_series %}
            <div class="container">
                <div class="in-the-series">
                    <h2>Related series</h2>
                </div>
            </div>
            <div class="container-full-bleed">
                {% for series in self.related_series %}
                    {% include "articles/includes/series_series_teaser.html" with heading='h3' image=False %}
                {% endfor %}
            </div>
        {% endif %}


        {% if self.topics %}
            <div class="container">
                <div class="topics related narrow-content">
                    <div class="topic-label"><i class="fa fa-tags"></i> Topics:</div>
                    <ul class="list-inline">
                        {% for topic in self.topics %}
                            <li><a href="{% topic_url topic %}">{{ topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </article>

    {% block related_articles %}
        {% if self.number_of_related_articles > 0 %}
        {% with article_count=self.number_of_related_articles %}
            {% include 'articles/includes/related_articles.html'  with heading='h3' image=True%}
        {% endwith %}
        {% endif %}
    {% endblock %}


{% endblock %}

{% block footer %}
   {% include 'themes/components/simple_footer.html' %}
{% endblock %}
