{% load wagtailcore_tags article_tags static core_tags wagtailembeds_tags wagtailimages_tags  %}

<footer role="contentinfo">
    <div class="container">
    	{% if self.main_image and self.include_caption_in_footer %}   
			<div class="feature-caption">
			    {% if self.main_image.credit %}
			        {{ self.main_image.credit }}
			    {% endif %}
			</div>
			<div class="clear"></div>
		{% endif %}
	    
        <div class="contact">
            Copyright &copy; {% now "Y" %} Open Canada, All rights reserved.<br>
            <a href="mailto:info@opencanada.org">info@opencanada.org</a>
        </div>
    </div>
</footer>
