body{
  background-color: $body-bg-color;
  font-family: $font;
}

@media (min-width: 1000px) {
  header .banner {
    margin-left: 1%;
    margin-right: 1%;
  }
}

hr.short {
  width: 300px;
}

/**** reading progress bar  ****/
.readingbar{
  z-index: 9999;
  width: 0%;
  height: $reading-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $reading-bar-color;
}

.reading, #mobile-chapter-menu{
  display: none;
}

header.scrolled div.chapters{
  display: block;
}

header {
  .facebook:hover{
    cursor: pointer;
  }
  .social {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: inline;
      li{
        display: inline
      }
    }
  }
}

.opencanada-logo{
  display: inline;
  float: left;

  img {
      max-height: 12px;
      margin: 6px 0;
      width: auto;
      display: block;
  }
}

header, header .menu {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  color: $body-bg-color;
  .facebook, a {
    color: $body-bg-color;
    &:hover{
        color: $active-color;
      }
  }
}

.article-scroll .article-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  padding-top: 3px;
}


.chapters {
  display: none;
  float: right;
  text-transform: uppercase;
  text-align: right;
  .title {
    display: inline-block;
    font-weight: bold;
    a{
      color: white;
      &:hover{
        color: $beige;
      }
    }
  }

  .chapter-links{
    display: inline;

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: inline;

      li{
        display: inline;
        margin: 0 2px;
        border: 2px solid transparent;
        a{
          color: $body-bg-color;
          padding: 0 3px;
        }
        &.active {
          border: 2px solid $active-color;
          a {
            color: $active-color;
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
      li:hover {
        border: 2px solid $active-color;
        a {
          color: $active-color;
        }
      }
    }
  }
}

header .menu, header .logo, header .chapters {
  float: left;
}

header .logo {
  width: 100%
}

header.collapsed {
  .menu {
    width: 34%;
    .social {
      padding-top: 3px;
      padding-left: 3px;
    }
  }

  .logo {
    width: 32%;
    padding: 0px
  }

  .chapters {
    width: 34%;
  }
}

@media(max-width: $screen-md){
  .reading, #mobile-chapter-menu{
    display: inline-block;
  }
  #mobile-chapter-menu{
    cursor: pointer;
    margin-left: 5px;
  }
  .chapters,
  .title{
    font-size: 12px;
  }
  .separator{
    display: none;
  }
  .opencanada-logo{
    margin-left: 20px;
    img{
      height: 12px;
      margin: 7px 0;
    }
  }
  .chapters{
    margin-right: 0px;
    padding-right: 1em;
    .chapter-links{
      display: none;
      position: absolute;
      background: $active-color;
      right: 0;
      top: 55px;
      ul{
        display: block;
        li{
          display: block;
          text-align: left;
          margin: 10px 20px;
          font-size: 14px;
          border-bottom: solid thin transparent;
          &:last-child{
            margin: 10px 20px;
          }
          a:hover,
          a:focus {
            color: $body-bg-color;
          }

          &:hover, &.active {
            border-bottom: solid thin $body-bg-color;
          }
          &:hover, &.active a,  {
            color: $body-bg-color;
          }
        }
      }
    }
  }
}

@media(max-width: $screen-sm){
  .reading{
    display: none;
  }
  .opencanada-logo{
    img{
      height: 9px;
    }
  }
}

/**** feature text area ****/
.template-article-page h1.medium{
  font-weight: 900;
  text-transform: uppercase;
}

.preamble-wrap.feature-text {
  background-color: #200c0f;
  background-image: url(../img/maplewashing-intro-bg.jpg);
  color: $body-bg-color;
  padding: 2em;
  .subtitle {
    font-family: georgia, serif;
    line-height: 1.8;
    font-style: italic;
  }
  .share-links .facebook, .share-links a {
    color: $body-bg-color;
  }
  hr.short {
    border-top: 2px solid $body-bg-color;
  }
  .share-links{
    .facebook:hover{
      cursor: pointer;
    }
    .facebook, a{
      color: $body-bg-color;
      &:hover{
        color: $active-color;
      }
    }
    font-size: 1.25em;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
    text-align: center;
    li {
      display: inline;
      margin: 0px 0.3em;
    }
  }
}
.template-article-page .main-feature .feature-wrapper .feature-text {
  padding-top: 260px;
  text-align: left;
  color: $body-bg-color;


  .title h1, .contributors {
    background-color: $feature-background;
    padding: 10px 20px;
  }

  .subtitle{
    text-align: left;
  }

  .contributors {
    font-size: 22px;
    margin: 0px;
    font-weight: 800;
  }

  .metadata{
    padding: 20px 10%;
  }
  .date {
    display: block;
  }
  .contributor-label {
    color: inherit;
  }
}

article .block-Quote{
  line-height: 180%;
  font-style: italic;
  color: inherit;
}

article .block-PullQuote {
  border: solid 5px $active-color;
  display: block;
  width: inherit;
  float: none;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 130%;
  padding: 5px 10px;
  margin: 10px;
  background: transparent;
  text-transform: uppercase;
  font-family: "Proxima-Nova", Helvetica, sans-serif;
  font-weight: 900;
  color: $active-color;
}

article .block-SectionBreak hr {
  padding: 20px 0;
  font-family: inherit;
  margin: 4em 0px;
  background: no-repeat center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAYCAYAAACx4w6bAAAABGdBTUEAALGPC/xhBQAAAetJREFUWAntlUEvA0EUx9/brgZxccCpEqkITkgagpS2iQRHtokPwNXZASUSTuJOODigG+HgJmh6EDTBVUSED+DUJmS787yV7rGJdPcdmnQus29n573/b/4zs2hG+1bBQzOyz2sepped6lWXTgCpstn/NyAC5lWX9j/t1fdVDazaPKs5Vm2O6dKCz+LDYcu21lGDfeMmd2XGIglFZOhacHPm+vZDqr44GENdElAHELYxxBURLAFBwlbWOMfdUmDiZ4wQVv7EE8VPY0MjRBRzYiIU+f+5CyUKdj4RCYW7+k8AcYN/uFhU9hEX1pw4mbk/vpgebXaF+N2LgZ3GhwZ+fujz7eWxwPbMsHDFPoUQ0eZ4yhyP5Av57690YrDXbygnnxgYKAqWBNexQx38bJdi3p3Yww42/sUKGkrvfe3EwOyW9pyGeiwYCHYGAOdYdcBxi8+Yjgjzzntn3BibfPKVqJRMDCxpmraRucsQFZsUqEOupyHBslOX9+SehcVWZxxTKQ79b2JgrlRL0S5f8U28/d5nMw9b3L/yGasHmw7cbyR6cTDUcZEvxBxpsMNbkW953Ga424AGCxJAbk5MR/v4HFfektlnrHx2+ZledYk7Vl667EgNTHZ9/c9ec8z/NZXNqPOVlpItUVl2r7p+ARvpltz7fvo7AAAAAElFTkSuQmCC');
}

article .block-SectionBreak hr:after {
  content: "";
}

article .block-Image {
  margin-top: 1em;
  margin-bottom: 2.5em;
}

article .block-Sharable, article .block-Quote {
  border-left: solid 3px $active-color;
}

article .block-Sharable {
  color: $active-color;
}

/*** related materials ***/
.related-content-menu{
    z-index: 200;
    position: absolute;
    left: 10%;
    width: 90px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    .button{
      margin: 0 auto 10px;
      background: black;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      color: white;
    }
    &.fixed{
      position: fixed;
      top: 200px;
    }
    .fa{
      padding: 17px 19px;
    }
}


@media(max-width: 1200px){
  .related-content-menu{
    left: 5%;
  }
}
@media(max-width: 1050px){
  .related-content-menu{
    left: 10px;
  }
}

.container-clear-none.open{
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &.fixed{
      position: fixed;
      top: 200px;
    }
}

.story{
  font-family: georgia, serif;
  line-height: 1.8;
  .heading-wrapper{
    text-align: center;
  }
  h2{
    color: $active-color;
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    border: 2px solid $active-color;
    margin-bottom: 0.7em;
    display: inline-block;
    line-height: 0.8;
    padding: 0px 2px;
    padding-top: 3px
  }
}

.story .block-RelatedItems{
  display: none;
  background: black;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  .intro{
    width: 75%;
  }
}

.image-source{
  margin-top: 5px;
  font-size: 10px;
  line-height: 125%;
  font-family: proxima-nova, Helvetica, sans-serif;
  color: $text-link-color;
}

.chapterblock p{
  font-size: 1.13333em;
}

.block-RelatedItems{
  color: $light-beige;
  text-align: center;
  .heading{
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: 1em;
    a{
      font-weight: bold;
      color: white;
      &:hover{
        color: $red;
      }
    }
  }
  .intro{
    margin: 0 auto;
    font-size: 0.8em;
    line-height: 150%;
    font-style: italic;
  }
  ul.item_list{
      border: none;
      li .item_content{
        padding: 25px 0;
        .contributor-label{
          display: none;
        }
        a{
          font-weight: bold;
          color: white;
          &:hover{
            color: $red;
          }
        }
        .contributors a{
          color: white;
          font-weight: normal;
          &:hover{
            color: $red;
          }
        }
      }
  }
}
@media(max-width: $screen-sm){
  .container-clear-none.open{
    width: 80%;
  }
  .related-content-menu{
    display: none;
  }
  .block-RelatedItems{
    width: auto;
    ul.item_list{
      li .item_content{
        width: 100%;
        padding: 5px 20px;
      }
    }
  }
}

/**** footer  *****/
footer{
  background-color: $black;
  .block-RelatedItems{
    padding-top: 60px;
  }
}
