{% load wagtailcore_tags static core_tags jobs_tags %}
{% get_active_posting_page as active_jobs_page %}

<header role="banner">
    <div class="banner container-fluid">
        <div class="row">
            <div class="ubc">  
                <a href="http://lindinitiative.ubc.ca/" target="_blank" >
                    <img class="ubc-logo" src="{% static 'themes/lind/img/ubc-logo-white.png' %}"> The Lind Initiative
                </a>
                <span class="courses"><a href="http://lindinitiative.ubc.ca/inequality" target="_blank" >Year 1: Inequality </a></span>  
          </div>  
        </div>
    </div>
</header>

