{% load wagtailcore_tags wagtailimages_tags static core_tags jobs_tags %}
{% get_active_posting_page as active_jobs_page %}

<header role="banner">
    <div class="banner container-fluid">
        <div class="row">
            <div class="ubc">
                <a href="http://lindinitiative.ubc.ca/" target="_blank">The Lind Initiative</a>
                <span class="courses">
                  <a href="/">
                    <img class="oc-logo" src="{% static 'themes/lind/img/opencanada-logo-white.png' %}" style="height: 15px; padding-bottom: 4px;" alt="OpenCanada">
                  </a>
                </span>
          </div>
        </div>
    </div>
</header>
