{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

<div class="container-full-bleed leftist-feature"> 
    <div class="feature-left">
        <img src="{% static 'themes/leftistForeignPolicy/img/left_foreign_policy_feature.png' %}">  
    </div>
    <div class="feature-block feature-right">
     
        <div class="feature-text"> 
             <div class="title">{% spaceless %}<h1 class="{{ self.title_size }}">{{ self.title }}</h1>  {% endspaceless %}</div> 

            <ul class="share-links" data-page-id="{{ self.id }}"> 
                <li class="twitter"> 
                    <div class="count">{% if self.twitter_count > 0 %}{{ self.twitter_count }}{% endif %}</div> 
                    <a href="https://twitter.com/share?text={{ self.title|urlencode }}&url={{ self.full_url|urlencode:"" }}"><i class="fa fa-twitter"></i></a>
                </li> 
                <li class="facebook"> 
                    <div class="count">{% if self.facebook_count > 0 %}{{ self.facebook_count }}{% endif %}</div> 
                    <span class="facebook-share-link" data-url="{{ self.full_url }}"><i class="fa fa-facebook-square"></i></span>
                </li> 
            </ul>  
        </div> 
    </div>
</div>
<div class="clear"></div>
<div></div>
