{% extends "base.html" %}
{% load static article_tags compress core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block theme_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/dark/css/dark.scss' %}">
{% endblock %}

{% block extra_js %}
<script>
    FeatureStyles.MainFeatures.setSize({{ self.full_bleed_image_size }});
</script>
<script type="text/javascript" src="{% static 'themes/dark/js/script.js' %}"></script>
{% endblock %}

{% block content %}

    {% if self.main_image and self.include_main_image_overlay %}
        {% include 'articles/includes/article-feature.html' with metadata='articles/includes/article-metadata.html' %}
    {% endif %}

    <article id="article-page">
        <div class="container">

            {% block share_links %}
                {% include 'articles/includes/share_links.html' %}
            {% endblock %}

            <div class="narrow-content">
            {% if not self.include_main_image_overlay or self.include_main_image_overlay and not self.main_image %}
                {% include 'articles/includes/article-metadata.html' %}
                {% if self.include_main_image and self.main_image %}
                    <figure class="main-image">
                        {% image self.main_image fill-940x627 %}
                    </figure>
                    {% if self.main_image.credit %}
                        <div class="image-credit">
                            {{ self.main_image.credit }}
                        </div>
                    {% endif %}
                    {% if self.main_image.source %}
                        <div class="image-source">
                            {{ self.main_image.source }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        </div>

        <div class="story">
            <div class="container-clear-none">
                {% if self.include_author_block %}
                    {% include 'articles/includes/author_blurb.html' %}
                {% endif %}
            </div>
            {% for block in self.body %}
                {% if block.block_type == 'Embed' %}
                    <!-- <div class="container-clear-none">
                        <section class="block-Embed narrow-content">

                          <div class="embed-responsive embed-responsive-16by9">
                            {{ block.value.url|embed:720 }}
                          </div>
                        </section>
                    </div> -->

                {% elif block.block_type == 'FullBleed' %}
                    <section class="block-FullBleed">
                        <div class="container-fluid">
                            {{ block }}
                        </div>
                    </section>
                {% elif block.block_type == 'Overflow' %}
                  <section class="block-Overflow">
                      <div class="container-clear-none">
                          {{ block }}
                      </div>
                  </section>
                {% else %}
                    <div class="container-clear-none">
                        <section class="block-{{ block.block_type }} narrow-content">
                            {{ block }}
                        </section>
                    </div>

                {% endif %}
            {% endfor %}

            {% if self.chapters %}
                <div class="container">
                  <div class="narrow-content">
                    <div class="toc">
                        {% if self.table_of_contents_heading %}
                        <h2 id="toc">{{ self.table_of_contents_heading }}</h2>
                        {% endif %}
                        <ul class="fa-ul">
                            {% for chapter in self.chapters %}
                                <li><i class="fa fa-li fa-chevron-down"></i><a
                                        href="#{{ chapter.value.heading|slugify }}">{{ chapter.value.heading }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {{ self.chapters }}
                </div>
              </div>
            {% endif %}

            {% if self.citation_links.all %}
                <div class="container">
                    <div class="block-citations narrow-content">
                        {% if self.citations_heading %}
                        <h2>{{ self.citations_heading }}</h2>
                        {% endif %}
                            {% for citation in self.citation_links.all %}
                                <div class="citation">{{ citation.text|richtext }}</div>
                            {% endfor %}
                    </div>
                </div>
            {% endif %}


                {% if self.endnote_links.all %}
                     <div class="container">
                       <div class="narrow-content">
                          {% include 'articles/includes/end_notes.html' %}
                        </div>
                    </div>
                {% endif %}


             {% if self.main_image and self.include_caption_in_footer %}
                 <div class="container">
                    <div class="feature-caption narrow-content">
                        {% if self.main_image.credit %}
                            {{ self.main_image.credit }}
                        {% endif %}
                    </div>
                 </div>
            {% endif %}
            <div class="home-link"><a href="/"><img src="{% static 'themes/dark/img/opencanada-mark-white.png' %}"></a></div>
        </div>

        {% if self.topics %}
            <div class="container">
                <div class="topics related narrow-content">
                    <div class="topic-label"><i class="fa fa-tags"></i> Topics:</div>
                    <ul class="list-inline">
                        {% for topic in self.topics %}
                            <li><a href="{% topic_url topic %}">{{ topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </article>

    {% block related_articles %}
        {% with article_count=self.number_of_related_articles %}
            {% include 'articles/includes/related_articles.html' with heading='h3' image=True %}
        {% endwith %}
    {% endblock %}

{% endblock %}

{% block footer %}
   {% include 'themes/components/simple_footer.html' %}
{% endblock %}
