{% load paths %}
{% load static core_tags wagtailcore_tags wagtailimages_tags %}


<table cellpadding="0" cellspacing="0" width="100%" style="{% base_styles 'table' %}">
    <tr>
        <td align="center" valign="top" style="{% base_styles 'td' %}">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="{% base_styles 'table' %}">
                <tr>
                    <td bgcolor="#bf1e2e"
                        width="100%" align="center" valign="middle"
                        style="{% base_styles 'td' %} padding: 20px 0 0 0;">
                        <a href="https://www.opencanada.org/"
                           target="_blank" style="{% base_styles 'a' %}">
                            <img alt="Open Canada"
                                                src="{% static 'img/opencanada-logo-white.png' %}"
                                                width="235" height="50"
                                                border="0"
                                                id="headerLogoImage"
                                                style="{% base_styles 'img' %}
                                                        display: block; color: #ffffff;
                                                        font-family: Helvetica, Arial, sans-serif;
                                                        font-size: 10px; font-weight: 500;
                                                        text-decoration: none; text-align: right;
                                                        max-width: 100%;
                                                        max-height: 100%;
                                                        height: auto;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" align="center" bgcolor="#bf1e2e" id="newsletterTitle" style="{% base_styles 'td' %}">
                        <h1 style="{% base_styles 'h1' %}
                                font-family: Oswald, Helvetica, Arial, sans-serif;
                                font-size: 65px;
                                font-weight: 400;
                                line-height: 130%;
                                color: #ffffff;
                                padding: 10px 0 10px 0;
                                margin: 0px">WEEKLY DISPATCH</h1>
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#bf1e2e" style="{% base_styles 'td' %}">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="{% base_styles 'table' %}">
                            <tr>
                               <td valign="top" align="right" style="padding-right: 5px; padding-left: 0px; padding-top: 0px; padding-bottom: 20px;">
                                   <img align="right" alt="twitter" src="{% static 'img/twitter-25.png' %}" width="20" style="{% base_styles 'img' %}
                                           max-width:25px; padding-bottom: 0; display: inline !important; vertical-align: bottom; color: #ffffff; font-size: 16px;">
                               </td>
                               <td valign="top" align="left" style="padding-right: 0px; padding-left: 5px; padding-top: 0px; padding-bottom: 20px;">
                                   <img align="left" alt="facebook" src="{% static 'img/facebook-25.png' %}" width="20" style="{% base_styles 'img' %}
                                           max-width:25px; padding-bottom: 0; display: inline !important; vertical-align: bottom; color: #ffffff; font-size: 16px;">
                               </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>

