{% load static core_tags wagtailcore_tags wagtailimages_tags %}

<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateEvents">
    <tr>
        <td valign="top" class="bodyContainer" style="padding-bottom:9px;">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                <tbody class="mcnTextBlockOuter">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="650" class="mcnTextContentContainer">
                                <tbody>
                                    <tr>
                                        <td valign="top" class="mcnTextContent" style="padding:15px;">
                                            <h2>EVENTS</h2>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            {% for event in self.events.all %}

                <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
                    <tbody>
                        <tr>
                            <td class="mcnCaptionRightImageContent" valign="middle" style="padding:15px;" width="80">
                                {% image event.organization.logo width-80 as tmp_photo %}
                                <a href="{{ event.event_link }}" target="_blank"><img src="{{ tmp_photo.url }}" alt="{{ event.organization.logo.title }}" class="mcnImage" /></a>
                            </td>

                            <td valign="middle" class="mcnTextContent" style="padding-bottom: 15px; padding-top: 15px;">
                                <h3><a href="{{ event.event_link }}" target="_blank">{{ event.title }}</a></h3>
                                <p>{{ event.date }},  {{ event.location }}</p>
                                <p>{{ event.event_text|richtext }}</p>
                            </td>

                        </tr>
                    </tbody>
                </table>
            {% endfor %}

            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                <tbody class="mcnDividerBlockOuter">
                    <tr>
                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #E1E1E1;">
                                <tbody><tr>
                                    <td>
                                        <span></span>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>