{% load static core_tags wagtailcore_tags wagtailimages_tags %}


<table border="0" cellpadding="0" cellspacing="0" width="650" id="templateHeader">
    <tr>
        <td valign="top" class="headerContainer">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                <tbody class="mcnImageBlockOuter">
                        <tr>
                            <td valign="top" style="padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top:20px" class="mcnImageBlockInner">
                                <table align="center" width="30%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                    <tbody><tr>
                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">

                                            <img src="{% static 'img/opencanada-logo-white.png' %}" alt="OpenCanada Logo" class="img-responsive" width="150px">

                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                <tbody class="mcnTextBlockOuter">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
                                <tbody>
                                    <tr>

                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                            <h1>WEEKLY DISPATCH</h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                <tbody class="mcnImageBlockOuter">
                        <tr>
                            <td valign="top" style="padding-bottom: 20px; padding-left: 10px; padding-right: 10px; padding-top:10px" class="mcnImageBlockInner">
                                <table align="center" width="30%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                    <tbody>
                                        <tr>
                                            <td align="right" class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
                                                <a href="https://twitter.ca/opencanada"><img src="{% static 'img/twitter-25.png' %}" alt="twitter" class="img-responsive" width="20px"></a>
                                            </td>
                                            <td align="left" class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
                                                <a href="https://www.facebook.com/OpenCanada"><img src="{% static 'img/facebook-25.png' %}" alt="facebook" class="img-responsive" width="20px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>