{% load static core_tags wagtailcore_tags wagtailimages_tags %}

<table border="0" cellpadding="0" cellspacing="0" width="650" id="templateExternalArticles">
    <tr>
        <td valign="top" class="bodyContainer" style="padding-bottom:9px;">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                <tbody class="mcnTextBlockOuter">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="650" class="mcnTextContentContainer">
                                <tbody>
                                    <tr>
                                        <td valign="top" class="mcnTextContent" style="padding:30px;">
                                            <h2>BEST OF THE WEB</h2>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            {% for external in self.external_articles.all %}

                <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
                        <tbody>
                            <tr>
                                <td valign="top" class="mcnCaptionRightContentInner" style="padding:0 15px;">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
                                        <tbody>
                                            <tr>
                                                <td class="mcnCaptionRightImageContent" valign="top">
                                                     {% image external.source.logo width-80 as tmp_photo %}
                                                       <a href="{{ external.website_link }}" target="_blank"><img src="{{ tmp_photo.url }}" alt="{{ external.source.logo.title }}" class="mcnImage" /></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="530">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="mcnTextContent">
                                                    <h3><a href="{{ external.website_link }}" target="_blank">{{ external.title }}</a></h3>
                                                    <p>{{ external.body|richtext }}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

            {% endfor %}


        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                <tbody class="mcnDividerBlockOuter">
                    <tr>
                        <td class="mcnDividerBlockInner" style="padding: 0px;">
                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #E1E1E1;">
                                <tbody><tr>
                                    <td>
                                        <span></span>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody>
            </table>