{% load paths %}
{% load static core_tags wagtailcore_tags wagtailimages_tags %}

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="{% base_styles 'table' %}">
    <tr>
        <td valign="top" style="{% base_styles 'td' %}">
            {% for article in self.articles%}
                {% if forloop.first %}
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="{% base_styles 'table' %}">
                        <tr>
                            <td valign="top" style="{% base_styles 'td' %} padding: 0 20px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="{% base_styles 'table' %}">
                                    <tr>
                                        <td valign="top" align="center" style="{% base_styles 'td' %} padding: 0;">
                                            <h2 style="font-size: 44px; font-family: 'Droid Serif', Georgia, serif; line-height: 100%; margin: 0px; margin-bottom: 10px; padding: 0px; font-weight: 400;">
                                                <a href="{{ article.url }}" target="_blank" style="{% base_styles 'a' %} color: #bf1e2e; text-decoration:none;">{{ article.title }}</a>
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="center" style="{% base_styles 'img' %} padding:0;">
                                            {% image article.main_image width-580 as tmp_photo %}
                                            <a href="{{ article.url }}" style="{% base_styles 'a' %} target="_blank">
                                                <img src="{{ tmp_photo.url }}" class="headlineImage" width="580" alt="{{ article.main_image.title }}" style="{% base_styles 'img' %}" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="{% base_styles 'td' %} padding: 0px; font-family: 'Droid Serif', Georgia, serif; font-size: 16px; line-height: 120%;">
                                            {% if article.override_text %}
                                                {{ article.override_text|paragraph_markup }}
                                            {% else %}
                                                {{ article.excerpt }}
                                        {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

{#                        <tr style="height: 1px;">#}
{#                            <td align="right" valign="top" class="divider" style="{% base_styles 'td' %} padding: 0; margin: 0;">#}
{#                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="dividerTable" style="{% base_styles 'table' %}  border-top: 1px solid #e1e1e1;">#}
{#                                    <tr>#}
{#                                        <td style="{% base_styles 'td' %} font-size: 0; padding: 0; margin: 0;">&nbsp;</td>#}
{#                                    </tr>#}
{#                                </table>#}
{##}
{#                            </td>#}
{#                        </tr>#}
                    </table>

                 {% else %}

                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="{% base_styles 'table' %}">

                            <tr>
                                <td valign="middle" class="ImageCell" style="{% base_styles 'td' %} padding: 0;">
                                    {% if article.override_image %}
                                        {% image article.override_image width-80 as tmp_photo %}
                                        <a href="{{ article.url }}" target="_blank" style="{% base_styles 'a' %}">
                                            <img src="{{ tmp_photo.url }}" class="articleImage" alt="{{ article.main_image.title }}" style="{% base_styles 'img' %} font-size: 12px;" />
                                        </a>
                                    {% else %}
                                        {% image article.main_image width-80 as tmp_photo %}
                                        <a href="{{ article.url }}" target="_blank" style="{% base_styles 'a' %}">
                                            <img src="{{ tmp_photo.url }}" alt="{{ article.main_image.title }}" style="{% base_styles 'img' %} font-size: 12px;" />
                                        </a>
                                    {% endif %}

                                </td>

                                <td valign="middle" style="{% base_styles 'td' %} padding: 0;">
                                    <h3  style="font-family: 'Droid Serif', Georgia, serif;
                                        font-size: 18px;
                                        padding: 0px;
                                        line-height: 100%;
                                        font-weight: 400;
                                        margin: 0px;">
                                        <a href="{{ article.url }}" target="_blank" style="{% base_styles 'a' %} color: #bf1e2e; text-decoration:none;">{{ article.title }}</a>
                                    </h3>

                                        {% if article.override_text %}
                                            {{ article.override_text|paragraph_markup}}
                                        {% else %}
                                            {{ article.excerpt }}
                                        {% endif %}

                                </td>

                            </tr>

                    </table>

                 {% endif %}
            {% endfor %}

        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="dividerTable" style="{% base_styles 'table' %}  border-top: 1px solid #e1e1e1;">
    <tr>
        <td style="{% base_styles 'td' %} font-size: 0; padding: 0 0 20px 0;">&nbsp;</td>
    </tr>
</table>
