{% load static core_tags wagtailcore_tags wagtailimages_tags %}


<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
    <tr>
        <td valign="top" class="headerContainer">
            <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateHeader">
                <tr>
                    <td valign="top" class="headerContainer">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                            <tbody class="mcnImageBlockOuter">
                                <tr>
                                    <td valign="top" style="padding:10px" class="mcnImageBlockInner">
                                        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                            <tbody>
                                                <tr>
                                                    <td class="mcnImageContent" valign="top" align="center" style="padding-right: 0px; padding-left: 0px; padding-top: 20px; padding-bottom: 0px;">
                                                        <a href="https://opencanada.org" target="_blank">
                                                            <img align="center" alt="Open Canada Logo" src="{% static 'img/opencanada-logo-white.png' %}" width="235" style="max-width:235px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                     </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                <tbody class="mcnTextBlockOuter">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                <tbody>
                                    <tr>
                                        <td valign="top" align="center" class="mcnTextContent" style="padding-top:0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                                            <h1>WEEKLY DISPATCH</h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="650" id="templateHeader">
                <tr>
                    <td valign="top" class="headerContainer">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                            <tbody class="mcnImageBlockOuter">
                                <tr>
                                    <td valign="top" style="padding:10px" class="mcnImageBlockInner">
                                        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                            <tbody>
                                                <tr>
                                                    <td class="mcnImageContent" valign="top" align="right" style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 10px;">
                                                        <img align="right" alt="" src="{% static 'img/twitter-25.png' %}" width="20" style="max-width:25px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td valign="top" style="padding:10px" class="mcnImageBlockInner">
                                        <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                            <tbody>
                                                <tr>
                                                    <td class="mcnImageContent" valign="top" align="left" style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 10px;">
                                                        <img align="left" alt="" src="{% static 'img/facebook-25.png' %}" width="20" style="max-width:25px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                     </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
