{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% if self.chapters %}
    <div class="container">
        <div class="row" id="toc">
            <ul class="faces">
                {% for chapter in self.chapters %}
                    <li><a href="#{{ chapter.value.heading|slugify }}">
                        <img src="/static/themes/millennials/img/{{ chapter.value.heading|slugify }}-sm.png">
                        <div>{{ chapter.value.heading }}</div>
                    </a></li>
                {% endfor %}
            </ul>
        </div>

        <section class="block-{{ block.block_type }} narrow-content"><hr></section>

        <div class="row slider">
            {% for chapter in self.chapters %}
                <div class="chapter" id="{{ chapter.value.heading|slugify }}">
                    <div class="background-photo {{ chapter.value.heading|slugify }}"></div>
                    {% if chapter.value.share_this_chapter %}
                        <div class="share-chapter">
                            <a href="{% get_twitter_share_url chapter %}"><i class="fa fa-twitter"></i></a>
                            <a href="{% get_chapter_anchor chapter %}"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    {% endif %}

                    {{ chapter }}

                </div>
            {% endfor %}
        </div>

        <div class="row" id="nav">
            <div class="col-xs-2 display-cell">
                <div class="prev"><i class="fa fa-chevron-left"></i></div>
            </div>
            <div class="col-xs-6 display-cell">
                <ul class="faces">
                    {% for chapter in self.chapters %}
                        <li><a href="#{{ chapter.value.heading|slugify }}">
                            <img src="/static/themes/millennials/img/{{ chapter.value.heading|slugify }}-sm.png">
                            <div>{{ chapter.value.heading }}</div>
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-2 display-cell">
                <div class="next"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>

         <section class="block-{{ block.block_type }} narrow-content"><hr></section>
        <div class="top-link">
            <div><i class="fa fa-chevron-up"></i></div>
            <a href="#toc">Back to top</a>
        </div>
    </div>


{% endif %}
