{% load static core_tags wagtailcore_tags wagtailimages_tags %}

<article class="row teaser">
    {% if article.main_image and image %}
        <div class="col-xs-2">
            <figure>
                {% image article.main_image fill-120x120 %}
            </figure>
        </div>
        <div class="col-xs-10">
            {% else %}
        <div class="col-xs-12">
        {% endif %}
            <{{ heading }}><a href="{{ article.url }}">{{ article.title }}</a></{{ heading }}>
            {% if article.authors %}
                <div class="contributors">By: {% for author in article.authors %}
                    <div class="contributor"><a href="{{ author.url }}">{{ author.first_name }} {{ author.last_name }}</a></div>
                   {% endfor %}
                </div>
            {% endif %}
            <div class="date"> / {{ article.first_published_at|date:"F j, Y" }}</div>

            <div class="feature-line">
                {{ article.excerpt|richtext }}
            </div>
        </div>
</article>
