-*{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

<div class="container-full-bleed main-feature overlay" style="height: 400px;">
    {% image self.main_image fill-2048x1200-c100 as background_image %}
        <div class="feature-image fullscreen-bg" {% if not self.video_document %} style="background-image: url('{{ background_image.url }}')" {% endif %}>
            <div class="feature-image-overlay"
                 style="background: rgba( {% if self.image_overlay_color.rgb %} {{ self.image_overlay_color.rgb }} {% endif %},
                         {% if self.opacity %} {{ self.opacity }} {% endif %})">
            </div>
            {% if self.video_document %}
                <video autoplay loop class="fullscreen-bg__video" poster="{{ background_image.url }}" id="bg_vid" {% if self.opacity %}style="opacity:{{ self.opacity }}"{% endif %}>
                    <source src="{{ self.video_document.url|get_video_src }}" type="video/mp4">
                 </video>
            {% endif %}
        </div>

    <div class="feature-wrapper">
        <div class="feature-text">
            {% include metadata %}
        </div>
    </div>

</div>
{% if not self.include_caption_in_footer %}
    <div class="feature-caption">
        <i class="fa fa-camera"></i>
        {% if self.main_image.credit  %}
            {{ self.main_image.credit }}
        {% endif %}
    </div>
 {% endif %}
<div class="clear"></div>
