{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

<div class="jumbotron main-feature overlay" style="height: 400px;">
    {% image self.main_image fill-2048x1365-c100 as background_image %}
    <div class="feature-image" style="background-image: url('{{ background_image.url }}')">
        <div class="feature-image-overlay"
             style="background: rgba( {% if self.image_overlay_color.rgb %} {{ self.image_overlay_color.rgb }} {% endif %},
                     {% if self.opacity %} {{ self.opacity }} {% endif %})">
        </div>
    </div>
    <div class="feature-wrapper">
        <div class="feature-text">
            {% include 'articles/includes/article-metadata.html' %}
        </div>
    </div>

</div>
<div class="feature-caption">
    <i class="fa fa-camera"></i>
    {% if self.main_image.credit %}
        {{ self.main_image.credit }}
    {% endif %}
</div>
<div class="clear"></div>



