{% spaceless %}
        <div class="contributors {{ extra_classes }}">
            <div class="contributor-label">{% if label %}{{ label }}{% else %}By{% endif %}: </div>
            <div class="contributor-list">
                {% for author in authors %}
                    <div class="contributor"><a href="{{ author.url }}">{{ author.full_name }}</a></div>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% if date %}
                <div class="date"> / {{ date|date:"F j, Y" }}</div>
            {% endif %}
            </div>
        </div>
{% endspaceless %}
