{% load static core_tags wagtailcore_tags wagtailimages_tags article_tags %}

{% block related_articles %}

    <section class="related-articles">
        <h2>Related Articles</h2>
        <div class="row">
            {% for article in self|related_articles:article_count %}
            <div class="col-xs-4">
                <figure>
                    {% image article.main_image width-400 %}
                </figure>
                <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                {% if article.authors %}
                    <div class="contributors">By:
                        {% for author in article.authors %}
                            <div class="contributor">
                                <a href="{{ author.url  }}">
                                 {{ author.first_name }} {{ author.last_name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% endfor %}
        </div>

    </section>

{% endblock %}
