{% load static core_tags wagtailcore_tags wagtailimages_tags article_tags %}

{% block related_articles %}

    <section class="related-articles">
        <h2>Related Articles</h2>
        <div class="row">
            {% for article in self|related_articles:3 %}
            <div class="col-xs-4">
                <figure>
                    <img src="{% static 'img/assets/related-article.png' %}">
                </figure>
                <h3><a href="#">{{ article.title }}</a></h3>
                <div class="contributors">By: <a href="#">Kirsty Duncan</a> (<span>@</span>kirstyduncan)</div>
            </div>

            {% endfor %}
        </div>

    </section>

{% endblock %}
