{% load static core_tags wagtailcore_tags wagtailimages_tags article_tags %}

{% block related_articles %}
<div class="container">
    <section class="related-articles">
        <h2>Related Articles</h2>
            {% for article in self|related_articles:article_count %}
                {% if forloop.first %}
                    <div class="row">
                {% elif forloop.counter0|divisibleby:'3' %}
                    </div><div class="row">
                {% endif %}
                    <div class="col-xs-12 col-sm-4">
                        {% if article.feature_style.include_image and article.main_image %}
                            <div class="image-feature">
                                <figure>
                                    {% image article.main_image fill-940x627 %}
                                </figure>
                        {% else %}
                            <div class="simple-feature">
                        {% endif %}
                                <div class="feature-content">
                                <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                {% if article.authors %}
                                    {% spaceless %}
                                    <div class="contributors">
                                        By: 
                                        {% for author in article.authors %}
                                            <a href="{{ author.url }}">{{ author.full_name }}</a><span>{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                    </div>
                                    {% endspaceless %}
                                {% endif %}
                        {% if article.feature_style.include_image and article.main_image %}
                            </div>
                        {% else %}
                                {% if article.subtitle %}
                                    <div class="feature-line">{{ article.subtitle|richtext }}</div>
                                {% else %}
                                    <div class="feature-line">{{ article.excerpt|richtext }}</div>
                                {% endif %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>

    </section>
</div>
{% endblock %}
