{% load static core_tags wagtailcore_tags wagtailimages_tags %}

<article class="row">
    <div class="col-xs-12">
        <h2><a href="{{ series.url }}">{{ series.title }}</a></h2>

        {% if series.authors %}
        <div class="contributors">By:

            {% for author in series.authors %}
            <div class="contributor">
                <a href="{{ author.url  }}">
                    {{ author.first_name }}
                    {{ author.last_name }}
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="date"> / {{ series.first_published_at|date:"F j, Y" }}</div>
        <div class="teaser">
            {{ series.body }}
        </div>

    </div>
</article>
