$wordmark-color: rgba(255,255,255,0.5) !default;

header{
  &.transparency {
    background: transparent !important;
    transition: background 0s !important;
    position: absolute;

    .wordmark a {
      color:$wordmark-color;
      transition: color 1s;
    }
  }
}