
header{
	&.transparency {
		background: transparent !important;
		transition: background 0s !important;
		position: absolute;

		.wordmark {
			opacity:0.5;
			transition:opacity 0.5s ease;

			&:hover {
				opacity: 1;
		    	transition: opacity 0.5s;
		    }
		}
	}
}