{% extends "base.html" %}
{% load static core_tags wagtailcore_tags wagtailimages_tags people_tags %}

{% block content %}
<div class="container contributor-list">
    {% if self.title %}
        <h1>{{  self.title }}</h1>
    {% endif %}

    {% if self.featured_contributors %}
       <div class="featured-contributors">
            <h2>Featured Contributors</h2>
            {% for row in self.featured_contributors %}
                <div class="row">
                    {% for contributor in row %}
                        <div class="col-sm-{{ row|column_class }} col-xs-6">
                        {% if contributor.first_name and contributor.last_name %}
                            {% image contributor.headshot circle-95x95 %}
                            <div class="name"><a href="{{ contributor.url }}">{{ contributor.first_name }} {{ contributor.last_name }}</a></div>
                            <div class="title">{{ contributor.short_bio|richtext }}</div>
                        {% endif %}
                        </div>
                        {% if forloop.counter == 2 %}
                            <div class="clearfix visible-xs-block"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if self.nonfeatured_contributors %}
        <div class="nonfeatured-contributors">
            <h2>Recent Contributors</h2>
            {% for row in self.nonfeatured_contributors %}
                <div class="row">
                    {% for contributor in row %}
                        <div class="col-sm-{{ row|column_class }} col-xs-6">
                        {% if contributor.first_name and contributor.last_name %}
                            <div class="name"><a href="{{ contributor.url }}">{{ contributor.first_name }} {{ contributor.last_name }}</a></div>
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}
