$sans-serif: proxima-nova, Helvetica, sans-serif !default;
$body-bg-color: #f5e7ca;
$text-link-color: #2f8376;
$text-link-hover-color: #8f1550;

$overlay-text-color: #fff;
$overlay-link-color: #fff;
$overlay-link-hover-color: #8f1550;