{% load wagtailcore_tags static %}


<div class="featured-topics">
    <div class="container">

        <h3><i class="fa fa-tags"></i> Featured Topics:</h3>
        <ul class="list-inline">
            <li><a href="#">Terrorism</a></li>
            <li><a href="#">Security and Intelligence</a></li>
            <li><a href="#">Canada's Foreign Policy</a></li>
            <li><a href="#">Digital Technology</a></li>
            <li><a href="#">The Canadian Forces</a></li>
        </ul>
    </div>
</div>