{% load wagtailcore_tags article_tags static core_tags wagtailembeds_tags wagtailimages_tags theme_tags  %}

<footer role="contentinfo">
    <div class="container">
        <div class="row infobar">
            <div class="col-sm-4">
                {% with self.theme|get_text_block:"about-block" as block %}
                <h3>{{ block.heading }}</h3>
                {{ block.content|richtext }}
                {% endwith %}
            </div>
            <div class="col-sm-4">
                {% with self.theme|get_text_block:"masthead-block" as block %}
                <h3>{{ block.heading }}</h3>
                {{ block.content|richtext }}
                {% endwith %}
            </div>
            <div class="col-sm-4">
                <div class="newsletter-form">
                    {% with self.theme|get_text_block:"newsletter-block" as block %}
                    <h3>{{ block.heading }}</h3>
                    {% endwith %}
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                    <div id="mc_embed_signup">
                    <form action="//opencanada.us11.list-manage.com/subscribe/post?u=3489214029024915bb546afc7&amp;id=f619618f07" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_3489214029024915bb546afc7_f619618f07" tabindex="-1" value=""></div>
                        <div class="clear">
                            <input type="submit" value="Sign-up" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                        </div>
                    </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>
                <div class="follow">
                    {% with self.theme|get_text_block:"follow-block" as block %}
                    <h3>{{ block.heading }}</h3>
                    <div class="social-links">
                        <ul>
                            <li><a href="{{ self.theme|get_follow_link:"twitter" }}"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{{ self.theme|get_follow_link:"facebook" }}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{ self.theme|get_follow_link:"google-plus" }}"><i class="fa fa-google-plus"></i></a></li>
                            <li><a rel="home" type="application/rss+xml" href="{{ self.theme|get_follow_link:"rss-feed" }}"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="row partner-row">
            <div class="col-xs-12">
                <div class="partners">
                    {% with self.theme|get_text_block:"tagline-block" as block %}
                    {{ block.content|richtext }}
                    {% endwith %}
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 ">
                <div class="partner cic">
                    <a href="/"><img src="{% static 'img/cic-footer-logo.png' %}" alt="CIC Logo" class="img-responsive" ></a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="partner bgc">
                    <a href="/"><img src="{% static 'img/bgc-footer-logo.png' %}" alt="Bill Graham Centre Logo" class="img-responsive" ></a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="partner cigi">
                    {% image self.theme|get_logo:"cigi-logo-black" original as cigi_logo %}
                    <a href="/"><img src="{{ cigi_logo.url }}" alt="CIGI Logo" class="img-responsive" ></a>
                </div>
            </div>
        </div>
        <div class="contact">
            Copyright &copy; {% now "Y" %} Open Canada, All rights reserved.<br>
            {% get_contact_email self.theme as contact_email %}
            <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
        </div>

    </div>

</footer>
