{% load wagtailcore_tags static %}

<header role="banner">
    <div class="banner container">
        <div class="row">
            <div class="col-md-2 col-xs-2 toggle-nav">
                <button type="button" class="menu">
                    <i  class="fa fa-list-ul"></i>
                </button>
            </div>

            <div class="col-md-5 col-sm-7 col-xs-8 logo">
                    <a href="/"><img src="{% static 'img/opencanada-logo-white.png' %}" alt="OpenCanada Logo" class="img-responsive" ></a>
            </div>

            <nav class="col-md-5 vcenter" id="main-menu" role="navigation">
                <ul>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contributors">Contributors</a></li>
                  <li><a href="/topics">Topics</a></li>
                </ul>
            </nav>

            <div class="col-md-2 col-sm-3 col-xs-2 share-links vcenter">
                <ul>
                  <li class="twitter"><a href="https://twitter.com/TheCIC"><i class="fa fa-twitter-square"></i></a></li>
                  <li class="facebook"><a href="https://www.facebook.com/CanadianInternationalCouncil"><i class="fa fa-facebook-square"></i></a></li>
                    <li class="search"><a href="#search"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div id="search-box">
    <div class="container">
        <form action="{% url 'wagtailsearch_search' %}"  method="get">
            <div class="row">
                <div class="col-xs-12 search-form">
                    <div class="input-group">
                        <input type="text" name="q" />
                        <button type="submit" class="search-button">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>