{% load wagtailcore_tags static %}

<header role="banner">
    <div class="banner container">
        <div class="row">
            <div class="col-md-1 col-xs-2 toggle-nav">
                <button type="button" data-target="#main-menu">
                    <i class="fa fa-list-ul"></i>
                </button>
            </div>

            <div class="col-md-5 col-xs-8 logo">
                    <a href="/"><img src="{% static 'img/opencanada-logo-white.png' %}" alt="OpenCanada Logo" class="img-responsive" ></a>
            </div>

            <nav class="col-md-6 vcenter" id="main-menu" role="navigation">
                <ul>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contributors">Contributors</a></li>
                  <li><a href="/topics">Topics</a></li>
                  <li><a href="/search">Search <i class="fa fa-search"></i></a></li>
                </ul>
            </nav>

            <div class="col-md-1 col-xs-2 share-links vcenter">
                <ul>
                  <li class="twitter"><a href="https://twitter.com/TheCIC"><i class="fa fa-twitter-square"></i></a></li>
                  <li class="facebook"><a href="https://www.facebook.com/CanadianInternationalCouncil"><i class="fa fa-facebook-square"></i></a></li>
                    <li class="facebook"><a href="#search"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>