{% load wagtailcore_tags static %}

<div class="jumbotron feature" style="height: 400px;">

    <div class="feature-image" style="background-image: url('{% static 'img/assets/diplomacy-unbound.png' %}')">
        <div class="feature-image-overlay"></div>
    </div>
    <div class="feature-text">
        <h1>
        <a style="color: {{ self.featured_item.font_style.text_colour }}; font-size: {{ self.featured_item.font_style.font_size }}em; line-height: {{ self.featured_item.font_style.line_size }}%; "href="{{ self.featured_item.url }}">{{ self.featured_item.title }}</a></h1>
        <div class="feature-line" style="color: {{ self.featured_item.font_style.text_colour }};">{{ self.featured_item.articlepage.subtitle|richtext }}</div>
        <div class="contributors">By:
            {% for author in self.featured_item.articlepage.authors %}
                <div class="contributor">
                    {% if author.twitter_handle %}
                        <span><a href="{{ author.twitter_handle  }}">@</a></span>
                    {% endif %}
                    <a href="author.url">{{ author.first_name }} {{ author.last_name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="scroll"><a href="#features"><i class="fa fa-angle-double-down"></i></a></div>
    <div class="image-caption"><i class="fa fa-camera"></i> Illustration by Abhilasha Dewan</div>

</div>
