{% load wagtailcore_tags static %}

<div class="jumbotron feature">
        <div class="feature-image" style="background-image: url('{% static 'img/assets/diplomacy-unbound.png' %}')">
            <div class="feature-image-overlay"></div>
        </div>
        <div class="feature-text">
            <h1>Who Knows What Evils Lurk in the Shadows?</h1>
            <div class="feature-line">The story of the powerful spy agency most Canadians still don't know, and the security bill that would expand its resources and reach.</div>
            <div class="author">By: Ron Deirbert (<a href="https://twitter.com/@rondeibert"><span>@</span>rondeibert</a>)</div>
        </div>
        <div class="scroll"><a href="#features"><i class="fa fa-angle-double-down"></i></a></div>
        <div class="image-caption"><i class="fa fa-camera"></i> Illustration by Abhilasha Dewan</div>

    </div>