{% load i18n %}
<table class="listing">
    <col />
    <col  />
    <col width="16%" />
    <thead>
        <tr class="table-headers">
            <th>{% trans "Title" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for endnote in items %}
            <tr>
                <td class="title">
                    {% if choosing %}
                        <h2><a class="endnote-choice" href="{% url 'content_notes:chosen' endnote.id %}">{{ endnote|striptags }}</a></h2>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
