$body-bg-color: #fff;

$breakpoint: 10000px;

$header-bg-color: $header-collapsed-bg-color;

$header-font: "Proxima Nova Condensed", sans-serif;
$limegreen: #2db92a;
$silver: #b8b8b8;
$tapa: #7F7F6F;

$feature-background: #e1cb9b;

$active-color: #b71e3b;
$active-height: 3px;

$reading-bar-color: $active-color;
$reading-bar-height: 4px;
