body{
  background-color: $body-bg-color;
}

.template-article-page h1.medium{
  font-family: $header-font;
  font-size: 3.5em;
}

.contributors{
  font-weight: bold;
}

.body-content p:last-child{
  margin-bottom: 10px;
  border-bottom: solid 2px $limegreen;
}

hr{
  border-bottom: solid 2px $limegreen;
}

.home-link{
  display: none;
}

.readingbar {
  z-index: 9999;
  width: 0%;
  height: $reading-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $reading-bar-color;
}

#mobile-chapter-links {
  position: fixed;
  right: 1em;
  width: auto;
  top: 6em;
  z-index: 9999;

  i.fa-list {
    display: inline-block;
    //border-radius: 100px;
    //box-shadow: 0 0 2px #888;
    //padding: 20px;
    //background-color: $header-bg-color;
    color: #b51e3a;
  }

  i.fa-circle {
    color: $header-bg-color;
  }

  .chapter-links {
    width: 100px;
    display: none;
    background-color: $header-bg-color;
    border-radius: 10px;
    position: fixed;
    right: 0.8em;
    top: 10em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .mobile-chapter-link {
        text-align: center;
        border-bottom: 1px solid $active-color;
        line-height: 4rem;

        &:last-child {
            border-bottom: none;
        }

        a {
          padding: 0 20px;
        }

        &.active {
          a {
            border-left: 2px solid $header-text-color;
            border-right: 2px solid $header-text-color;
          }
        }
      }
    }
  }
}

.feature-text {
  font-family: $header-font;
  background-color: $feature-background;
  text-align: center;
  margin-top: -25px;

  .metadata {
    margin-top: 30px;
    margin-bottom: 30px;

    .date {
      display: block;
    }
    .contributor-label {
      color: inherit;
    }
  
    .title {
      text-transform: uppercase;
    }

    .share-links {
      list-style-type: none;
      padding: 0;

      .fa-square {
        color: #000;
      }

      li {
        display: inline;
      }
    }

  }
}

header {
  min-height: 70px;

  .banner {
    padding-top: 25px;
  }

  .chapters-logo {
    padding: 0 20px;
    display: inline;
    float: left;

    .wordmark {
      line-height: 1em;

      img {
        max-height: 18px;
        width: auto;
        display: block;

      }
    }
  }

  .chapters {
    display: inline;
    float: right;
    text-transform: uppercase;
    text-align: right;
    margin-right: 10px;

    .article-title {
      display: inline-block !important;
      font-weight: bold;
    }

    .chapter-links{
      display: inline;

      ul {
        list-style-type: none;
        padding-left: 0px;
        margin-right: 10px;
        margin-bottom: 0;
        display: inline;
  
        li {
          display: inline;

          margin-right: 10px;
  
          a {
            color: $header-text-color;
          }

          &.active {
            border-bottom: 2px solid $active-color;
          }
        }
      }
    }
  }
}


article .top-link{
  text-align: center;
  font-weight: 700;
  margin: 0;
  a{
    color: black;
  }
  .fa{
    font-size: 2.5em;
    color: $limegreen;
  }
  &:after{
    content: none;
  }
}

article ul.share-links{
  position: relative;
  li{
    display: inline-block;
    text-align: left;
    i{
      font-size: 1.5em;
    }
    span, a{
      color: $limegreen;
    }
  }
}

.story{
  h2, h3{
    text-align: center;
    font-family: $header-font;
  }
  h2{
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 0.7em;
  }
  h3{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  h4{
    font-family: $header-font;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    &::after{
      content: ':';
    }
  }

  .share-chapter{
    a, span{
      color: $limegreen;
    }
  }


  // Ensures that chapter headings aren't covered due to fixed header
  .chapterblock:before {
    display: block; 
    content: " "; 
    height: 71px;
    margin-top: -71px;    
    visibility: hidden; 
  }
}

article .block-PullQuote{
  border: none;
  color: $limegreen;
  font-family: $header-font;
  font-weight: 700;
  padding-top: 0px;
}

.chapter{
  position: relative;
  margin-top: 8%;
  h3 span{
    font-size: 1.2em;
  }
}

.narrow-content{
  margin-left: 10%;
  margin-right: 10%;

  &.block-Image {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.background-photo{
  z-index: -100;
  width: 100%;
  height: 110%;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: -35%;
  margin-top: -15%;
  opacity: 0.15;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}
.reveal{
  display: block;
    position: absolute;
    margin-top: 60%;
    margin-left: 0%;
    padding: 10px;
    border: solid 2px $limegreen;
    width: 42px;
    font-size: 1.5em;
    color: $limegreen;

    &:hover{
      cursor: pointer;
    }
  }

.credits{
  text-align: center;
  color: $tapa;
  font-size: 0.7em;
  line-height: 130%;
  font-family: $sans-serif;
  span{
    font-weight:bold;
  }
}

@media(max-width: $screen-sm){

  article ul.share-links{
    margin: 0;
    li{
      i{
        font-size: 2.0em;
      }
      div{
        padding: 0 5px 10px 0;
      }
    }
  }

  .main-image{
    border: none;
  }


  .story{
    h2{
      font-size: 25px;
      text-decoration: underline;
      margin-bottom: 0.7em;
    }
    .share-chapter{
      font-size: 2.0em;
    }
  }

  .chapter{
    margin-top: 0;
  }

  .background-photo{
    width: 100%;
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 400px 500px;
    background-position: center;
    opacity: 0.8;
    margin: 0 auto -2%;
  }

  .reveal{
    display: none;
  }

  .narrow-content{
    margin-left: 10%;
    margin-right: 10%;

    &.block-Image {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

@media(max-width: 480px){
  .template-article-page h1.medium{
    font-size: 3.0em;
  }
}
