{% extends "base.html" %}
{% load static core_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container">
    <div class="narrow-page">
        {% if self.title %}
            <h1 class="subheading">{{ self.title }}</h1>
        {% endif %}

        {% for article in articles %}
            {% include "articles/includes/article_teaser.html" with heading='h2'%}
        {% endfor %}

        {% if articles.paginator.num_pages > 1 %}
            <ul class="pager">
                <li class="previous">
                    {% if articles.has_previous %}
                        <a href="?page={{ articles.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
                    {% endif %}
                </li>
                <li class="pages">
                    Page {{ articles.number }} of {{ articles.paginator.num_pages }}
                </li>
                <li class="next">
                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
                    {% endif %}
                </li>
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

