{% extends "base.html" %}
{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block content %}
    <div id="article-page" class="container">
        <article>
            {% block share_links %}
                {% include 'articles/includes/share_links.html' %}
            {% endblock %}
            <div class="title">
                {% if self.primary_topic %}
                    <div class="primary-topic">
                        <i class="fa fa-tags"></i>
                        <a href="{% topic_url self.primary_topic %}">{{ self.primary_topic.name }}</a>
                    </div>
                {% endif %}

                <h1>{{ self.title}}</h1>
                <h2>{{ self.excerpt|richtext }}</h2>
                {% if self.authors %}
                    <div class="contributors">By:
                        {% for author in self.authors %}
                        <div class="contributor">
                            <a href="{{ author.url }}">{{ author.first_name }} {{ author.last_name }}</a>
                        </div>{% endfor %}
                    </div>
                {% endif %}
                <div class="date"> / {{ self.first_published_at|date:"F j, Y" }}</div>
            </div>
            {% if self.include_main_image %}
                <figure class="main-image">
                    {% image self.main_image fill-940x627 %}
                </figure>
                {% if self.main_image.credit %}
                    <div class="image-credit">
                        {{ self.main_image.credit }}
                    </div>
                {% endif %}
                {% if self.main_image.source %}
                    <div class="image-source">
                        {{ self.main_image.source }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="story">
                {% if self.include_author_block %}
                {% include 'articles/includes/author_blurb.html' %}
                {% endif %}
                {% for block in self.body %}
                    {% if block.block_type == 'Embed' %}
                        <section class="block-Embed">
                            {{ block.value.url|embed:720 }}
                        </section>
                    {% else %}
                        <section class="block-{{ block.block_type }}">
                            {{ block }}
                        </section>
                    {% endif %}
                {% endfor %}
                <div class="home-link"><a href="/"><img src="{% static 'img/opencanada-mark.png' %}"></a></div>
            </div>

            {% if self.topics %}
                <div class="topics related">
                    <div class="topic-label"><i class="fa fa-tags"></i> Topics:</div>
                    <ul class="list-inline">
                        {% for topic in self.topics %}
                            <li><a href="{% topic_url topic %}">{{ topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </article>

        {% if self.series_articles %}
        <section class="in-the-series">
            <h2>Also in the series</h2>
            {% for series, articles in self.series_articles %}
                <div class="series-teaser">
                    <div class="series-title"><a href="{{ series.url }}">{{ series.title }}</a>:
                    {% if series.subtitle %}{{ series.subtitle|richtext }}{% endif %}</div>
                    {{ series.body|truncatewords_html:80 }}
                </div>
                {% block in_the_series %}
                    {% include 'articles/includes/in_the_series.html' %}
                {% endblock %}
            {%  endfor %}
        </section>
        {% endif %}

        {% block related_articles %}
            {% with article_count=3 %}
                {% include 'articles/includes/related_articles.html' with heading='h3'%}
            {% endwith %}
        {% endblock %}
    </div>


{% endblock %}
