{% extends "base.html" %}
{% load static core_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container article-page">
        <article>
            <div class="title centered">
                <div class="topics main">
                    <div class="tag-icon"><i class="fa fa-tags"></i></div>
                    <ul class="list-inline">
                        <li><a href="#">R2P</a></li>
                        <li><a href="#">Iraq</a></li>
                    </ul>
                </div>

                <h1>{{ self.title }}</h1>
                <h2>{{ self.subtitle|richtext }}</h2>

                <div class="contributors">By: <a href="#">{{ self.author.first_name }} {{ self.author.last_name }}</a> (<span>@</span>{{ self.author.twitter_handle }})</div>
                <div class="date"> / {{ self.first_published_at|date:"F j, Y" }}</div>
            </div>
            <figure>
                <img src="{% static 'img/assets/R2P-at-10.png' %}">
            </figure>
            <ul class="share-links">
                <li><span class="facebook-share-link" data-url="{{ self.url }}"><i class="fa fa-facebook"></i></span></li>
                <li><a href="https://twitter.com/share?text={{ self.title }}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:window.print()"><i class="fa fa-print"></i></a></li>
                <li><a HREF="mailto:?subject={{ self }}&body={{ self.url }}"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <div class="story">
                {{ self.body }}
                <div class="home-link"><a href="/"><img src="{% static 'img/opencanada-mark.png' %}"></a></div>
            </div>

            <div class="topics related">
                    <div class="tag-icon"><i class="fa fa-tags"></i> Topics:</div>
                    <ul class="list-inline">
                        <li><a href="#">R2P</a></li>
                        <li><a href="#">Iraq</a></li>
                    </ul>
                </div>
        </article>

        <div class="in-the-series">
            <h2>Also in the series</h2>

            {% for linked_article in self.series_articles %}
                {% block in_the_series %}
                    {% include 'articles/includes/in_the_series.html' %}
                {% endblock %}
            {%  endfor %}
        </div>

        {% block related_articles %}
            {% include 'articles/includes/related_articles.html' %}
        {% endblock %}
    </div>


{% endblock %}
