{% extends "base.html" %}
{% load static article_tags core_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}

{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}

{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
    .top-link {
        color: #bf1e2e;
        text-align: right;
        display: block;
        margin-right: 10%;
    }
    .toc ul,
    article h2,
    .block-ColumnedContent
    {
        margin-left: 10%;
        margin-right: 10%
    }

    .block-Overflow .block-ColumnedContent{
        margin-left: 0;
        margin-right: 0;
    }
    article h2 {
        margin-top: 3%;
    }

{#    .block-PullQuote {#}
{#        margin-left: 10%;#}
{#        margin-right: 10%#}
{#    }#}

    article .block-Quote,
    article .block-Sharable {
        border-left: solid #bf1e2e 5px;
        color: lightgray;
        margin-left: 15%;
        margin-right: 15%
    }

    article .block-Sharable .quote,
    article .block-Sharable,
    article .block-Quote .quote,
    article .block-Quote {
{#        display: table-cell;#}
        vertical-align: middle;
    }

    article .block-Quote .quote,
    article .block-Sharable .quote
    {
        padding-left: 30px;
{#        font-size: 26px;#}
        font-size: 14px;
        line-height: 120%;
{#        width: 80%;#}

    }
    article .block-PullQuote {
        display: inline-block;
        width: 33%;
        float: right;
        font-size: 28px;
        padding: 20px;
        margin: 10px;
        background-color: #f6f6f6;
        line-height: 120%;
    }

    .image {
        position: relative;
        border: 4px solid #f6f6f6;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .image-label{
        float: right;
        color: #bf1e2e;
    }

    .photo-zoom {
        color: #bf1e2e;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
    }

    .clickable {
        cursor: pointer;
    }
    </style>
    <div id="article-page" class="container">
        <article>
            <div class="title">
                {% if self.primary_topic %}
                    <div class="primary-topic">
                        <i class="fa fa-tags"></i>
                        <a href="{% topic_url self.primary_topic %}">{{ self.primary_topic.name }}</a>
                    </div>
                {% endif %}

                <h1>{{ self.title }}</h1>
                <h2>{{ self.excerpt|richtext }}</h2>

                <div class="contributors">By:
                    {% for author in self.authors %}
                    <div class="contributor">
                        <a href="{{ author.url }}">{{ author.first_name }} {{ author.last_name }}</a>
                    </div>{% endfor %}</div>
                <div class="date"> / {{ self.first_published_at|date:"F j, Y" }}</div>
            </div>
            <figure class="main-image">
                {% image self.main_image width-940 %}
            </figure>
            <ul class="share-links">
                <li class="facebook"><span class="facebook-share-link" data-url="{{ self.url }}"><i class="fa fa-facebook"></i></span></li>
                <li class="twitter"><a href="https://twitter.com/share?text={{ self.title }}"><i class="fa fa-twitter"></i></a></li>
                <li class="print"><a href="javascript:window.print()"><i class="fa fa-print"></i></a></li>
                <li class="email"><a HREF="mailto:?subject={{ self }}&body={{ self.url }}"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <div class="story">
                {{ self.body }}

                <div class="toc">
                <h2 id="toc">Table of Contents</h2>
                <ul>
                    {% for chapter in self.chapters %}
                        <li>{{ chapter.value.heading }}</li>
                    {% endfor %}
                </ul>

                </div>

                {{ self.chapters }}

                <div class="home-link"><a href="/"><img src="{% static 'img/opencanada-mark.png' %}"></a></div>
            </div>

            {% if self.topics %}
                <div class="topics related">
                    <div class="topic-label"><i class="fa fa-tags"></i> Topics:</div>
                    <ul class="list-inline">
                        {% for topic in self.topics %}
                            <li><a href="{% topic_url topic %}">{{ topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </article>

        {% if self.series_articles %}
        <section class="in-the-series">
            <h2>Also in the series</h2>
            {% for series, articles in self.series_articles %}
                <div class="series-teaser">
                    <h3><a href="{{ series.url }}">{{ series.title }}</a></h3>
                    {{ series.subtitle|richtext }}
                </div>
                {% block in_the_series %}
                    {% include 'articles/includes/in_the_series.html' %}
                {% endblock %}
            {%  endfor %}
        </section>
        {% endif %}

        {% block related_articles %}
            {% with article_count=3 %}
                {% include 'articles/includes/related_articles.html' %}
            {% endwith %}
        {% endblock %}
    </div>


{% endblock %}
