{% extends "base.html" %}
{% load static article_tags core_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div id="external-article-page" class="container">
        <div class="narrow-page">
            <h1 class="subheading">{{ self.title }}</h1>
            <div class="source">
                <figure>{% image self.source.logo fill-120x120 %}</figure>
            </div>

            <div class="content">
                <p>{{ self.body|richtext }}</p>
                <p><a href="{{ self.website_link }}" target="_blank" >Read the article <i class="fa fa-external-link"></i></a></p>
            </div>
        </div>
    </div>

{% endblock %}
