{% extends "base.html" %}
{% load static article_tags core_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div id="external-article-list-page" class="container">
        <h1>{{ self.title }}</h1>
       {% for article in self.subpages %}
        <div class="row">
            <div class="col-xs-2">
                <figure>{% image article.source.logo width-120 %}</figure>
            </div>
            <div class="col-xs-10">
                <h3><a href="{{ article.website }}">{{ article.title }}</a></h3>
                <p>{{ article.body|richtext }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
