{% load static core_tags wagtailcore_tags wagtailimages_tags %}

{% block in_the_series %}
    <section class="in-the-series">
        <h2>{{ heading_text }}</h2>
        <p class="intro"><a href="#">Reflections on R2P</a>: On the occasion of the 20th anniversary of the Rwandan genocide, the continuing debate surrounding the future of the “responsibility to protect” (R2P) norm – used to abrogate sovereignty norms in cases of human rights abuses – has once again reared its head. This series, developed in partnership with the Montreal Institute for Genocide and Human Rights Studies, explores whether R2P remains an organizing principle of international affairs or if it might irrevocably slide toward irrelevance in the coming years.</p>
        <div class="row">
            <div class="col-xs-2">
                <figure>
                <img src="{% static 'img/assets/series-article.png' %}">
            </figure>
            </div>
            <div class="col-xs-10">
                <h3><a href="#">R2P in Disarray</a></h3>
                <p>Politics trumps any moral obligation to intervene in a conflict argue Derek Burney and Fen Hampson. Just look at Syria.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <figure>
                <img src="{% static 'img/assets/series-article.png' %}">
            </figure>
            </div>
            <div class="col-xs-10">
                <h3><a href="#">There's Hope for R2P</a></h3>
                <p>But as with any emerging norm there are issues that must be overcome, says Senator Art Eggleton.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            <figure>
                <img src="{% static 'img/assets/series-article.png' %}">
            </figure>
            </div>
            <div class="col-xs-10">
                <h3><a href="#">The Security Council and the Future of Intervention</a></h3>
                <p>Russia’s insistence that it is protecting ethnic Russians in Crimea is the latest chapter in the debate over when international intervention is justified, says Sir Jeremy Greenstock.</p>
            </div>
        </div>
    </section>
{% endblock %}
