{% load static core_tags wagtailcore_tags wagtailimages_tags %}

{% block related_articles %}

    <section class="related-articles">
        <h2>Related Articles</h2>
        <div class="row">
            <div class="col-xs-4">
                <figure>
                    <img src="{% static 'img/assets/related-article.png' %}">
                </figure>
                <h3><a href="#">The Islamic State and the case for Responsibility to Protect</a></h3>
                <div class="contributors">By: <a href="#">Kirsty Duncan</a> (<span>@</span>kirstyduncan)</div>
            </div>
            <div class="col-xs-4">
                <figure>
                    <img src="{% static 'img/assets/related-article.png' %}">
                </figure>
                <h3><a href="#">The Islamic State and the case for Responsibility to Protect</a></h3>
                <div class="contributors">By: <a href="#">Kirsty Duncan</a> (<span>@</span>kirstyduncan)</div>
            </div>
            <div class="col-xs-4">
                <figure>
                    <img src="{% static 'img/assets/related-article.png' %}">
                </figure>
                <h3><a href="#">The Islamic State and the case for Responsibility to Protect</a></h3>
                <div class="contributors">By: <a href="#">Kirsty Duncan</a> (<span>@</span>kirstyduncan)</div>
            </div>

        </div>

    </section>

{% endblock %}
