{% extends "base.html" %}
{% load static core_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div id="series-page" class="container">

        <article>
            <ul class="share-links">
                <li><span class="facebook-share-link" data-url="{{ self.url }}"><i class="fa fa-facebook"></i></span></li>
                <li><a href="https://twitter.com/share?text={{ self.title }}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:window.print()"><i class="fa fa-print"></i></a></li>
                <li><a HREF="mailto:?subject={{ self }}&body={{ self.url }}"><i class="fa fa-envelope"></i></a></li>
            </ul>
            <div class="title">
                <div class="type"><a href="{% pageurl self.get_parent %}">{{ self.get_parent.title }}</a></div>
                <h1>{{ self.title }}</h1>
                <h2>{{ self.subtitle|richtext }}</h2>
                {% if self.authors %}
                    <div class="contributors series">
                        <div class="contributor-label">Series Contributors: </div>
                        <div class="contributor-list">
                            {% for author in self.authors %}
                                <div class="contributor"><a href="{{ author.url  }}">{{ author.first_name }} {{ author.last_name }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
               {% endif %}
            </div>
            <div class="story">{{ self.body }}</div>

            <div class="in-the-series">
                 <h2>In the series</h2>
                {% with articles=self.articles %}
                    {% block in_the_series %}
                        {% include 'articles/includes/in_the_series.html' %}
                    {% endblock %}
                {% endwith %}
            </div>

            {% if self.topics %}
                <div class="topics related">
                    <div class="topic-label"><i class="fa fa-tags"></i> Topics:</div>
                    <ul class="list-inline">
                        {% for topic in self.topics %}
                            <li><a href="{{ topic.url }}">{{ topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </article>

        {% block related_articles %}
            {% with article_count=6 %}
                {% include 'articles/includes/related_articles.html' %}
            {% endwith %}
        {% endblock %}
    </div>


{% endblock %}
