{% extends "base.html" %}
{% load static core_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="container">
    <div class="narrow-page">
        <h1 class="subheading">{{ topic.name }}</h1>
            {% for article in articles %}
                {% include "articles/includes/article_teaser.html"  with heading='h2' image=True %}
            {% endfor %}
    </div>


    </div>

{% endblock %}
