{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <div class="container">
    <h1>Page not found</h1>

    <h2>Oops! That page isn't here.</h2>

    <p>
      You may be looking for an archived article that no longer exists. If you need further assistance, please contact us at <a href="mailto:editorial@opencanada.org">editorial@opencanada.org</a> or click <a href="https://www.opencanada.org">here</a> to return to the main site. Thanks for reading!
    </p>

    </div>

{% endblock %}
