{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <div class="container">
    <h1>Page not found</h1>

    <h2>Sorry, this page could not be found.</h2>


    <p>Hi! We have launched a new version of OpenCanada.org.</p>

<p>You may be looking for a page on the new site of the Canadian International Council (soon to be found at <a href="http://thecic.org">thecic.org</a>), or an archived article that no longer exists.</p>

<p>If you need further assistance, contact us at <a href="mailto:info@opencanada.org">info@opencanada.org</a>.</p>

    </div>

{% endblock %}
