{% load core_tags cache compress static wagtailuserbar wagtailimages_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:site_name" content="OpenCanada"/>
        <meta property="og:url" content="{{ self.full_url }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="fb:app_id" content="1209700165722055" />
        <meta property="og:type" content="article" />
        {% if self.main_image %}
            {% image self.main_image fill-1200x630-c100 as image %}
            <meta property="og:image" content="{{ image.url }}" />
            <meta property="og:image:secure_url" content="{{ image.url }}" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
        {% else %}
            <meta property="og:image" content="{% static 'img/oc-default-social-logo.png' %}"/>
            <meta property="og:image:secure_url" content="{% static 'img/oc-default-social-logo.png' %}"/>
            <meta property="og:image:width" content="550" />
            <meta property="og:image:height" content="288" />
        {% endif %}

        {% if self.main_image %}
                  {% endif %}

        {% block feedlink %}<link rel="home" type="application/rss+xml" href="/feed/" />{% endblock feedlink %}

        {% block webfonts %}
            <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
            <script src="//use.typekit.net/nat2qtz.js"></script>
            <script>try{Typekit.load({ async: true });}catch(e){}</script>
        {% endblock %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

{#        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/font-awesome.min.css' %}">#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        {% compress css %}
            {% block theme_css %}
                <link rel="stylesheet" type="text/x-scss" href="{% static 'css/opencanada.scss' %}">
            {% endblock %}
        {% endcompress %}

        {% block extra_css %}

        {% endblock %}
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', 'auto');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');
        </script>
    {% endif %}

    </head>

    <body class="{% block body_class %}{% endblock %}" style="{% block body_style %}{% endblock %}"  data-page-url="{{ self.full_url|urlencode }}">
    {% if ADMIN_ENABLED %}
        {% wagtailuserbar %}
    {% endif %}

        {% block header %}
            {% include 'core/header.html' with tagline=True %}
        {% endblock %}

        {% block feature %}{% endblock %}

        <main style="{% block main_style %}{% endblock %}">
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'core/footer.html' %}
        {% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/features.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/sharing.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/opencanada.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}

        {% endblock %}

        {% compress css %}
            {% block print_css %}
                <link rel="stylesheet" type="text/x-scss" media="print" href="{% static 'css/print.scss' %}">
            {% endblock %}
        {% endcompress %}
    </body>
</html>
