{% load core_tags cache compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/font-awesome.min.css' %}">

        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/opencanada.scss' %}">
        {% endcompress %}

        {% block extra_css %}
            
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block header %}
            {% include 'core/header.html' %}
            {% block featured-tags %}{% endblock %}
        {% endblock %}


        {% block feature %}{% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'core/footer.html' %}
        {% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/opencanada.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
            
        {% endblock %}
    </body>
</html>
