{% extends "base.html" %}
{% load static article_tags compress core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block theme_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/maplewashing/css/maplewashing.scss' %}">
{% endblock %}

{% block extra_js %}
        <script>
            FeatureStyles.MainFeatures.setSize({{ self.full_bleed_image_size }});
        </script>
        {% compress js %}
        <script type="text/javascript" src="{% static 'themes/components/js/transparency.js' %}"></script>
        <script type="text/javascript" src="{% static 'themes/exceptionalism/js/exceptionalism.js' %}"></script>
        {% endcompress %}
{% endblock %}

{% block header %}
    {% include 'themes/maplewashing/header.html' with tagline=False %}
{% endblock %}

{% block content %}

    {% if self.main_image and self.include_main_image_overlay %}
        {% include 'themes/maplewashing/articles/includes/article-feature.html' with metadata='themes/maplewashing/articles/includes/article-metadata.html' %}
    {% endif %}
    <article id="article-page">
        {% if not self.include_main_image_overlay or self.include_main_image_overlay and not self.main_image %}
            <div class="container">
                <div class="narrow-content">
                    {% include 'articles/includes/article-metadata.html' %}
                    {% if self.include_main_image and self.main_image %}
                        <figure class="main-image">
                            {% image self.main_image fill-940x627 %}
                        </figure>
                        {% if self.main_image.credit %}
                            <div class="image-credit">
                                {{ self.main_image.credit }}
                            </div>
                        {% endif %}
                        {% if self.main_image.source %}
                            <div class="image-source">
                                {{ self.main_image.source }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="story">
            {% include 'articles/includes/json-embed.html' %}
            {% include 'themes/exceptionalism/articles/includes/story-content.html' %}
            {% include 'themes/exceptionalism/articles/includes/advanced_content.html' %}
        </div>
    </article>

{% endblock %}

{% block footer %}
{% endblock %}
