{% load article_tags wagtailimages_tags %}

{% for page in self.items %}
    {% typed_article page as typed_page %}
      {% image typed_page.main_image fill-2048x1200-c100 as background_image %}

		<section style="background-image: url('{{ background_image.url }}')" class="full story body">
       		<div class="container">
         		<div class="row">
           			<div class="col-md-5 col-sm-5 col-sm-offset-1" data-aos="fade-right">
              			<h2><a href="{{ typed_page.url }}">{{ typed_page.title }}</a></h2>
						{% if typed_page.authors %}
							{% include 'themes/yearinreview2016/articles/includes/article-contributors.html' with authors=typed_page.authors links=True %}
						{% endif %}
            		</div>
            		<div class="col-md-4 col-sm-4" data-aos="fade-up" data-aos-offset="-800">
              			{% page_preview typed_page %}
						  
            		</div>
            	</div>
        	</div>
      	</section>
  
{% endfor %}

