{% extends "base.html" %}
{% load static article_tags compress core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags theme_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }} light{% endblock %}

{% block body_style %}
    {% with bg_image=self.background_image_links.all.0 %}
        {% image bg_image.image original as background_image %}

        background-image:url('{{ background_image.url  }}');
        background-position:{{ bg_image.position  }};
    {% endwith %}

{% endblock %}

{% block theme_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/light/css/light.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/twitterati/css/twitterati.scss' %}">
{% endblock %}

{% block extra_js %}
    <script>
        FeatureStyles.MainFeatures.setSize({{ self.full_bleed_image_size }});
    </script>
    <script type="text/javascript" src="{% static 'themes/components/js/transparency.js' %}"></script>
    <script type="text/javascript" src="{% static 'themes/twitterati/js/twitterati.js' %}"></script>
{% endblock %}



{% block header %}
    <div class="page-overlay"></div>
    {% include 'core/header.html' with tagline=False %}
{% endblock %}

{% block content %}

    {% get_json_data as twitterati %}

    {% if self.main_image and self.include_main_image_overlay %}
       {% include 'themes/twitterati/articles/article-feature.html' with metadata='articles/includes/article-metadata.html' %}
    {% endif %}

    <article id="article-page">
        <div class="story">
            {% include 'articles/includes/story-content.html' %}
        </div>

        <div class="container">

            <section class="narrow-content twitterati-list">

                <div class="row">
                    {% for group in twitterati %}
                        <div class="col-sm-6">
                            <h3 class="{{ group.category }}">{{ group.description }}</h3>
                            <ul>
                                {% for member in group.members %}
                                    <li class="{{ group.category }}-hover"><a href="{{ member.twitter_handle }}">{{ member.full_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
                    {% endfor %}
                </div>

            </section>

            <div class="home-link"><a href="/"><img src="{% static 'themes/dark/img/opencanada-mark-white.png' %}"></a></div>
        </div>

        <section id="slideshow">
            <div class="close-box"><i class="fa fa-times"></i></div>
            <ul class="slider">
                {% for group in twitterati %}
                    {% for member in group.members %}
                        <li id="{{ member.twitter_handle }}" class="row">

                            <div class="col-xs-1 display-cell">
                                <div class="prev"><i class="fa fa-chevron-left"></i></div>
                            </div>
                            <div class="col-xs-10 display-cell">
                                <div class="slide">
                                    <div class="category {{ group.category }}">{{ group.category }}</div>
                                    <div class="twitter-photo {{ group.category }}" style="background-image: url('{{ member.profile_image_url|media }}')"></div>
                                    <h2 class="{{ group.category }}">{{ member.full_name}} </h2>
                                    <div class="twitter-handle"><a href="https://twitter.com/@{{ member.twitter_handle}}">@{{ member.twitter_handle}}</a> / {{ member.follower_count}} followers</div>
                                    <div class="bio">
                                        {{ member.biography|richtext }}
                                    </div>
                                    <div class="share-this">
                                        Share this 
                                        <a class="twitter-share-link" href="https://twitter.com/share?text={{ self.title|urlencode }}&url={{ self.full_url|add:"#"|add:member.twitter_handle|urlencode }}"><i class="fa fa-twitter-square"></i></a><span class="facebook-share-link" data-url="{{ self.full_url }}{{ "#"|add:member.twitter_handle|urlencode }}"><i class="fa fa-facebook-square"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 display-cell">
                                <div class="next"><i class="fa fa-chevron-right"></i></div>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
             </ul>
        </section>

    </article>

{% endblock %}


