{% load wagtailimages_tags %}
{% if self.expandable %}
<div class="modal fade" id="photoModel{{ self.image.id }}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ self.image.title }}</h4>
      </div>
      <div class="modal-body">
        {% image self.image original %}
          <div class="credit">{{ self.image.credit }}</div>
      </div>
      <div class="modal-footer">
        {% if self.label %}
            <div class="image-label">{{ self.label }}</div>
        {% endif %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
<div
        class="image{% if self.placement == 'left' %} left-aligned{% elif self.placement == 'right' %} right-aligned{% elif self.placement == 'full' %} full-width{% endif %}"
        {% if self.expandable %}data-toggle="modal" data-target="#photoModel{{ self.image.id }}"{% endif %}
        >
    {% if self.placement == 'left' or self.placement == 'right' %}
        {% image self.image width-350 %}
    {% else %}
        {% image self.image width-950 %}
    {% endif %}
    {% if self.expandable %}<i class="fa fa-search-plus photo-zoom" data-toggle="modal" data-target="#photoModel{{ self.image.id }}"></i>{% endif %}
    <div class="credit">{{ self.image.credit }}</div>

</div>
{% if self.label %}
        <div class="image-label{% if self.expandable %} clickable{% endif %}"{% if self.expandable %} data-toggle="modal" data-target="#photoModel{{ self.image.id }}" {% endif %}>{{ self.label }}{% if self.expandable %} <i class="fa fa-external-link"></i>{% endif %}</div>
    {% endif %}
