.oilsands {
	background-position: bottom center;
	background-size: contain;
	background-repeat:no-repeat;

	@media (min-width: $screen-lg) {
		background-size: initial;
	}

	main {
		background-position: top center;
		background-size: contain;
		background-repeat:no-repeat;
		margin-top: -60px;

		@media (min-width: $screen-lg) {
			background-size: initial;
			background-position: top right;
		}
	}

	.jumbotron {
		background-color: transparent;
	}

}

header{
	&.transparency {
    	position: absolute;
	}
}


footer {
	.contact {
		padding-top: 40px;
		padding-bottom: 160px;
		border-top:1px solid $text-color;
		max-width: 752px;
		line-height: 1.5em;

		@media (min-width: $screen-lg) {
			padding-bottom: 80px;
		}
	}
}








