.oilsands {
	background-position: bottom center;
	background-size: contain;
	background-repeat:no-repeat;

	@media (min-width: $screen-lg) {
		background-size: initial;
	}

	main {
		background-position: top center;
		background-size: contain;
		background-repeat:no-repeat;
		margin-top: -60px;

		@media (min-width: $screen-lg) {
			//background-size: contain;
			//background-position: top center;
		}
	}

	.main-feature {
		background-color: transparent;
		//height: auto !important;

		

		@media (max-width: $screen-xs) {

			height: auto !important;

			.feature-wrapper {	
				padding-top:300px;
				position: relative;
			}
		}

		@media (max-width: $screen-sm) {
			.feature-wrapper {
				top:27%;
			}
		}
	}

}

header{
	&.transparency {
    	position: absolute;
	}

	&.scrolled {
		border-bottom:1px solid #efefef;
	}

	#main-menu.open {
		border-right: 1px solid #efefef;
		border-top:1px solid #efefef;
	}
}


footer {
	.contact {
		padding-top: 40px;
		padding-bottom: 160px;
		border-top:1px solid $text-color;
		max-width: 752px;
		line-height: 1.5em;

		@media (min-width: $screen-lg) {
			padding-bottom: 80px;
		}
	}
}
