{% load  core_tags wagtailcore_tags article_tags wagtailimages_tags %}

<section class="fullbleed-section">
    <div class="container">
        <h2><a class="read-more" href="{% slugurl more_link_slug %}">{{ heading_text }} <i class="fa fa-angle-right"></i></a></h2>
    </div>
    <div class="container-full-bleed">
        {% for row in item_collection %}
            <div class="row {% if forloop.last %}last{% endif %}">
            {% for item in row %}
                <div class="col-sm-12 feature-item overlay">
                    <div class="overlay-feature rowheight-1">
                        {% image item|get_feature_image fill-3584x560-c100 as background_image %}
                        {% if item.editors_pick %}
                            <div class="editors-pick-link"><div class="table"><div class="table-cell"><a href="{% slugurl 'editors-picks' %}" class="article-feature editors-pick">Editor's Pick</a></div></div></div>
                        {% endif %}
                        {% if item == self.most_popular_article %}
                            <div class="most-popular"><div class="table"><div class="table-cell"><a href="{% slugurl 'most-popular' %}" class="article-feature ">Most Popular</a></div></div></div>
                        {% endif %}
                        <a href="{{ item.url }}">
                          <div class="feature-image" style="background-image: url('{{ background_image.url }}')">
                              <div class="feature-image-overlay" style="opacity: {{ item.opacity }};"></div>
                          </div>
                          <div class="feature-wrapper">
                              <div class="feature-text {% if item.editors_pick or article == self.most_popular_article  %} article-feature{% endif %}" style="color: {{ item.font_style.text_colour.hex_value }};">
                                  <h3 style="color: {{ item.font_style.text_colour.hex_value }};" href="{{ item.url }}">{{ item.title }}</h3>
                                  {% if item.authors %}
                                      {% include 'articles/includes/article-contributors.html' with authors=item.authors links=False %}
                                  {% endif %}
                              </div>
                          </div>
                        </a>
                        <div class="camera"><i class="fa fa-camera"></i></div>
                    </div>
                </div>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
  </section>
