.template-article-page{

	.background-cover {
		background-image: url('../img/OC_FS-cover.jpg');
		top: -85px;
		left: 0;
		position: relative;
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	header {
		background: black;
		color: white;
	}
 	.heading{
		width: 50%;
		padding-left: 10%;
		color: $diplomacy-grey;
		//position: absolute;
		top: 2rem;
		left: 0;
		z-index: 1;
		
 		h1{
			 font-size: 8em;
 		}

 		ul.share-links{
 			@include sharelinks;
			 position: relative;
			 list-style-type: none;
 			li{
 				display:inline-block;
 				font-size: 32px;
 				a, i{
					 color: $diplomacy-grey;
					 &:hover {
						color: black;
						cursor: pointer;
						transition: color 0.5s;
					 }
 				}
 			}
 		}
 	}	
}

article .block-PullQuote {
	font-family: "Georgia";
	font-size: 36px;
	padding:5px 20%;
	margin: auto;
	font-weight: bold;
font-style: italic;
width: 100%;
float: none;
border: none;
color: $diplomacy-grey;
position: relative;
z-index: 2;
margin-top: 5rem;
margin-bottom: 5rem;
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 30px;
		top: 0;
		left: 19.5%;
		background: $diplomacy-red;
		z-index: -1;
	}
}

article .block-Quote {
	font-family: "Georgia";
	font-size: 28px;
	padding-left: 20%;
	padding-right: 20%;
	margin: auto;
	font-weight: bold;
font-style: italic;
width: 100%;
float: none;
border: none;
color: $diplomacy-grey;
position: relative;
z-index:2;
line-height: 130%;
margin-top: 5rem;
margin-bottom: 5rem;
&:before {
	content:'“';
	font-size: 150px;
	position: absolute;
	color: $diplomacy-red;
	left: 17%;
	top: 30px;
z-index:-1;
}
&:after {
	content:'';
	height:5px;
	width:10%;
	left: 21%;
	position: absolute;
	bottom: -10px;
	background: $diplomacy-red;
}
}

.story{
	z-index: 1;
	color: $diplomacy-grey;
	.dropcap-start {
		p:first-of-type:first-letter {
			background: linear-gradient(top, rgba(218,121,107,1) 0%, rgba(218,121,107,1) 92%, rgba(0,0,0,0) 93%,  rgba(0,0,0,0) 96%, rgba(218,121,107,1) 97%, rgba(218,121,107,1) 100%);
			background: -webkit-linear-gradient(top, rgba(218,121,107,1) 0%, rgba(218,121,107,1) 92%, rgba(0,0,0,0) 93%, rgba(0,0,0,0) 96%, rgba(218,121,107,1) 97%, rgba(218,121,107,1) 100%);
			background: -moz-linear-gradient(top, rgba(218,121,107,1) 0%, rgba(218,121,107,1) 92%, rgba(0,0,0,0) 93%, rgba(0,0,0,0) 96%, rgba(218,121,107,1) 97%, rgba(218,121,107,1) 100%);
			background: -o-linear-gradient(top, rgba(218,121,107,1) 0%, rgba(218,121,107,1) 92%, rgba(0,0,0,0) 93%, rgba(0,0,0,0) 96%, rgba(218,121,107,1) 97%, rgba(218,121,107,1) 100%);
			padding: 1rem;
		}
	}
}


