.template-article-page .leftist-feature{
  background-color: $leftist_blue;
  overflow: auto;
  margin-top: -120px;
  position: relative;

  	.feature-right, .feature-left{
  		float: left;
  		width: 50%;
  	}

  	.feature-right{
  		z-index: 100;
  		position: absolute;
  		background-color: $leftist_blue;
  		left: 50%;
  		transition: all 2000ms linear;
  		&.slide-left{
  			left: 0%;
  			transform: translate3d(0px, 0px, 0px);
  		}
  	}
  	
 	.feature-text{
 		margin-left: 10%;
 		.title{
 			padding-top: 15%;
	 		width: 70%;
	 		border-bottom: solid 2px black;
	 		padding-bottom: 10px;
	 		margin-bottom: 20px;
 		}
 		h1{
 			font-family: $serif;
 			font-size: 45px;
 			line-height: 120%;
 			text-transform: uppercase;
 			width: 60%;
 			span{
 				color: $body-bg-color;
 			}
 		}

 		ul.share-links{
 			@include sharelinks;
 			position: relative;
 			li{
 				display:inline-block;
 				font-size: 32px;
 				a{
 					color: black;
 				}
 				.count{
 					margin-left: 10px;
 					font-size: 22px;
 					color: $body-bg-color;
 				}
	 			.facebook-share-link:hover, a:hover{
	 				color: $overlay-link-hover-color;
	 				cursor: pointer;
	 				transition: color 0.5s;
	 			}
 			}
 		}
 	}	
}

article .block-PullQuote, article .block-Sharable {
	border: none;
	color: $leftist_blue;
	font-family: $sans-serif;
	padding: 0 15px
}

.narrow-content{
	margin-left: 25%;
}

.story{

	h2{
		font-family: $serif;
		font-size: 22px;
		font-weight: bold;
		color: $leftist_blue;
		margin-bottom: 20px;
	}

	.table-of-contents{
		width: 25%;
		padding-bottom: 0px;
		border-bottom: none;

		h2{
			margin-top: 0px;
			// font-weight: normal;
			font-size: 16px;
			color: black;
			font-family: $sans-serif;
		}
		ul{
			padding: 0px;
			margin: 0px;
			font-family: $sans-serif;
			li{
				list-style: none;
				a{
					color: $leftist_blue;
					text-indent: -1.3em;
					&:hover::before {
			          float: left;
			          margin-left: -5px;
			          padding-right: 5px;
			          font-family: fontAwesome;
			          content: '•';
			          color: $leftist_blue;
			          font-size: 3em;
			        }
				}
			}
			
		}
	}
}

@media(max-width: $screen-sm){
	.narrow-content{
		margin: 0px;
	}
	.template-article-page .leftist-feature{
		margin-top: -70px;
		.feature-text{
			.title{
				margin-top: 10%;
				width: 80%;
				padding-bottom: 0px;
				padding-right: 5%;
				margin-bottom: 5px;
			}
			h1{
				font-size: 22px;
				width: 100%;
			}
			
			ul.share-links{
 				li{	
	 				font-size: 22px;
	 			}
	 		}
		}
	}

	.story{
		h2{
			font-size: 18px;
		}
		.table-of-contents{
	
			margin: 15px;
			width: auto;
			padding-bottom: 15px;
			border-bottom: solid 1px #000;
		}
	}

}

@media(max-width: 480px){
	.template-article-page .leftist-feature{
		.feature-text{
			h1{
				font-size: 16px;
			}
		}
	}
}


