{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

<div class="container-full-bleed overlay main-feature">
    <div class="feature-image-overlay" {% if self.opacity %} style="opacity:{{ self.opacity }} {% endif %}"></div>
    <div class="feature-image fullscreen-bg" style="background-image: url('{% static 'themes/kurdistan/img/kurdistan-bg.png' %}')"></div>
    <div class="right-cloud">
        <img src="{% static 'themes/kurdistan/img/kurdistan-cloud-right.png' %}">
    </div>
    <div class="left-cloud">
        <img src="{% static 'themes/kurdistan/img/kurdistan-cloud-left.png' %}">
    </div>
    <div class="feature-image foreground">
        <img src="{% static 'themes/kurdistan/img/kurdistan-foreground.png' %}">
    </div>
    <div class="feature-wrapper">
        <div class="feature-text">
            <ul class="share-links" data-page-id="{{ self.id }}">
                <li class="twitter">
                    <div class="count">{% if self.twitter_count > 0 %}{{ self.twitter_count }}{% endif %}</div>
                    <a href="https://twitter.com/share?text={{ self.title|urlencode }}&url={{ self.full_url|urlencode:"" }}"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="facebook">
                    <div class="count">{% if self.facebook_count > 0 %}{{ self.facebook_count }}{% endif %}</div>
                    <span class="facebook-share-link" data-url="{{ self.full_url }}"><i class="fa fa-facebook-square"></i></span>
                </li>
            </ul>
            <h1 class="{{ self.title_size }}">{{ self.title }}</h1>
            {% if self.authors %}
                {% include 'articles/includes/article-contributors.html' with authors=self.authors links=True %}
            {% endif %}
        </div>
    </div>
</div>
<div class="clear"></div>
