{% extends "base.html" %}
{% load static article_tags core_tags wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}


{% block theme_css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'themes/yearinreview2016/css/yearinreview2016.scss' %}">
{% endblock %}

{% block extra_js %}
<script>
    FeatureStyles.MainFeatures.setSize({{ self.full_bleed_image_size }});
</script>
<script type="text/javascript" src="{% static 'themes/components/js/transparency.js' %}"></script>
{% endblock %}



{% block header %}
    {% include 'themes/yearinreview2016/header.html' with tagline=False %}
{% endblock %}

{% block content %}

    {% if self.main_image and self.include_main_image_overlay %}
        {% include 'themes/yearinreview2016/articles/includes/article-feature.html' with metadata='articles/includes/article-metadata.html' %}
    {% endif %}

    <article id="article-page">
        <div class="container">
            {% include 'themes/yearinreview2016/articles/includes/story-content.html' %}
        </div>

        {% if self.articles %}
            {% with articles=self.articles %}
                {% block in_the_series %}
                    {% include 'themes/yearinreview2016/articles/includes/in_the_series.html' %}
                {% endblock %}
            {% endwith %}
        {% endif %}
       
    </article>

{% endblock %}
å
{% block footer %}
   {% include 'themes/components/simple_footer.html' %}
{% endblock %}

