@mixin ubc{
	text-align: center;

	a {
		font-weight: 600;
		font-size: 16px;
		text-transform: uppercase;
		padding: 0 1em;
		display: inline-block;
		border-right: 1px solid $mid-grey;

		img {
			max-height: 34px;
			display: inline-block;
			padding-right:1em;
		}
	}

	.courses {
		a {
		  padding: 0 0.8em;
			font-weight: 300;
			border-right: 0;

			&:hover {
				color:$grey;
			}
		}
	}

	@media (max-width: $screen-xs) {
		a {
			border-right:0;
		}
	}
}

/******** Main overrides *******/
a {
	font-weight: 500;
}

.contributors {
	a {
		font-weight: 300;
	}
}

article {
	.blurb-content .author {
		font-weight: 500;
	}
}


.template-article-page, .template-series-page {
	h2 {
		font-weight: 700;
		font-size: 1.1em;
		line-height: 2.2em;
	}

	.main-feature {
		.primary-topic a {
			font-weight: 700;
		}
		.type a {
			font-weight: 700;
		}
	}
}

.feature-image-overlay {
	background-color: $blue-overlay !important;
}

/******** Header styling ********/
header {

	.ubc {
		@include ubc;

		.courses a {
			color:$lighter-grey;		
		}
	}

	a {
		color: $white;

		&:hover {
			color: $white;
		}
	}
}


/******** Footer styling ********/
footer {
	.container {
		border-top:1px solid $dark-blue;
	}

	.ubc {
		@include ubc;
		padding:20px 0;
	}

	.opencanada {
		text-align: center;
		padding-bottom: 40px;

		img {
			max-height: 18px;
			display: inline-block;
		}
	}
}



