$body-bg-color: #e5f2ff;

$serif: 'Source Sans Pro', sans-serif;
$sans-serif: $serif;

$text-color: #000;
$dark-blue: #002045;
$blue-overlay: #0099ff;
$grey: #666666;
$lighter-grey: #cccccc;
$text-link-color: $dark-blue;
$text-link-hover-color: $grey;


$border-grey: solid 1px $dark-blue;

$blurb-author-link-color: $dark-blue;
$blurb-link-color: $dark-blue;
$blurb-bio-text-color: $text-color;
$blurb-border: $border-grey;


$footer-bg-color: $body-bg-color;
$footer-link-hover-color: $text-link-color;

$article-quote-border-color: $dark-blue;
$article-block-text-color: $dark-blue;
$article-quote-text-color: $dark-blue;
$article-shareable-text-color: $dark-blue;
$article-block-bg-color: transparent;
