$body-bg-color: #000;
$text-color: #fff;
$text-link-color: #929191;

$border-grey: solid 1px #929191 ;
$blurb-author-link-color:#fff;
$blurb-link-color: $text-link-color;
$blurb-bio-text-color: $text-link-color;

$caption-color: $text-link-color;

$pull-quote-border: $text-link-color;
$quote-bg:$text-link-color;

$topic-link-color: #fff;

$textalternate :#929191;
