/**************  Article  **************/

.template-article-page, .template-chaptered-article-page, .template-series-page {
  .main-feature {
    @include article-overlay;
    @include fullbleed-overlay;
    .feature-wrapper{
      top: 20%;
    }

    .feature-text{
      padding:0 20px;
    }

    @media(min-width: $screen-sm){
      .feature-text{
        padding-left:40px;
        padding-right:40px;
      }
    }

    .date{
      color: white;
      font-size: 14px;
    }
    .primary-topic {
      @include type(white);
      font-weight: 700;
      padding-bottom: 10px;
      border-bottom: $border-white;
      a {
        padding-left: 10px;
        padding-right: 0px;
      }
    }

    .type {
      @include type(white);
      font-weight: 700;
      padding-bottom: 10px;
      border-bottom: $border-white;
      a {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .contributor{
      a {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
  .feature-caption{
    font-family: $sans-serif;
    font-size: 12px;
    color: $caption-grey;
    float: right;
    margin: 10px;

    .fa-camera {
      &:hover, &.highlighted {
        color:$red;
        cursor: pointer;
      }
    }
  }
}

.article-scroll{
  header .wordmark{
      display: none;
  }
  .article-title{
    display: block;
    text-align: center;
    line-height: 30px;
  }
}

.date{
  @include type(#000);
}

article .title,
.block-Paragraph,
.block-Heading,
.block-Image,
.block-Quote,
.block-PullQuote,
.block-Embed,
.block-ColumnedContent,
.block-RelatedItems,
.block-Interactive,
.block-end_note,
.block-citation,
.block-chapter h2,
.block-end-notes h2,
.block-citations h2,
.topics,
.series-articles,
.toc,
.contributor-profile,
.search-results-page,
.narrow-page

{
  margin-left: 10%;
  margin-right: 10%;

  @media(max-width: $screen-xs){
    margin-left: 0;
    margin-right: 0;
  }
}

.block-Sharable{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;

  @media(max-width: $screen-xs){
    margin-left: 0;
    margin-right: 0;
  }
}

.series-teaser .block-Paragraph{
  margin-left: 0;
  margin-right: 0;
}

.block-Embed iframe{
  margin: 10px auto !important;
}

.block-Interactive {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-RelatedItems{
  margin-left: 15%;
  margin-right: 15%;

  .heading{
    //margin: 10px 20px;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: 12px;
  }
  .item_list{
    border-top: $border-grey;
    border-bottom: $border-grey;
    list-style: none;


    li{
      .item_content{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        .contributors{
          display: block;
          color: $light-grey;

          a {
            color: $light-grey;
          }
        }
      }
    }
  }
}

article {
  position: relative;

  &.row {
    @include row-divider;
  }

  &.row.teaser {
    h2 {
      margin-top: 0px;
    }
    .feature-line {
      margin-top: 10px;
    }
  }

  .title, .topics, .story {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .story section{
    line-height: 150%;
  }
  h2, h3 {
    margin: 10px 0;
  }
  h4, h5, h6 {
    margin: 10px 0 5px 0;
  }

  .main-image img {
    margin: 0 auto;
  }

  .top-link {
      color: $red;
      text-align: right;
      display: block;
      margin-right: 10%;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: 0.8em;

      &:after {
        content:"\f106";
        font-family: "FontAwesome";
        padding-left: 0.25em;
      }
  }

  .topics {
    .topic-label {
      float: left;
    }
    @include type($text-color);
    @include inline-list-divided($red);
    ul.list-inline {
      margin-left: 68px;
      display: block;
    }
  }

  .type {
    @include type($red);
    @include subheading(14px);
  }
  .primary-topic {
    @include subheading(14px);
    padding-bottom: 10px;
    @include type($red);
    i {
      color: $text-color;
    }
  }

  ul.share-links {
    position: absolute;
    margin-left: -100px;
    padding: 0 0 20px 0;
    top: 0.15em;
    left:0;

    &.below-topic {
      padding-top:42px;
    }

    div{
      width: 20px;
      margin-left: 5px;
      display:inline-block;
      color: $red;
    }
    i {
      cursor: pointer;
    }
    .count{
      color: $light-grey;
      font-family: $sans-serif;
    }
    li{
      list-style: none;
      text-align:right;
    }

  }

  .small-article & ul.share-links {
    position: relative;
    margin-left: 10%;
    margin-bottom: 0px;
    top: 20px;
    li {
      display: inline-block;
      padding-right: 7px;
      div{
        width: auto;
      }
    }
    li.print{
      display: none;
    }
    @media(max-width: $screen-xs) {
      margin-left: 0px;
    }
  }
  .small-article & .title {
    margin-top: 10px;
  }

  .dropcap-start::first-letter {
    font-size: 65px;
    line-height: 55px;
    margin-right: 10px;
    float: left;
  }

  .block-Image {

    .image {
      margin: 0 0 10px 0;
    }
    .credit {

    }
    .left-aligned {
      float: left;
      margin: 5px 20px 0px 0;
      width:350px;
    }
    .right-aligned {
      float: right;
      margin: 5px 0px 0px 20px;
      width:350px;
    }
    .full-width {
      img {
        margin: 0 auto;
      }
      .credit {
        text-align: center;
      }
    }
  }
  .image-wrapper {
    clear: both;
    max-width: 100%;

  }

  .image{
    position: relative;
    
    img {
      border:solid 3px #e0e0e0;
      margin-bottom: 10px;
    }

    .photo-zoom {
      color: #bf1e2e;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
    }
  }

  .image-label {
      float: right;
      margin-bottom: 20px;
      color: #bf1e2e;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: 0.9em;

      &.clickable {
        &:after {
          content:"\f08e";
          font-family: "FontAwesome";
          padding-left: 0.4em;
        }
      }
    }

    .block-Overflow .block-ColumnedContent,
    .block-Overflow .block-Image,
    .block-Overflow .block-Paragraph,
    .block-Overflow .block-Sharable,
    .block-Overflow .block-Interactive
    {
        margin-left: 0;
        margin-right: 0;
    }

    .block-ColumnedContent {
      .col-lg-6 {
        width: 50%;
        float:left;
      }

      @media(max-width: $screen-xs) {
        .col-lg-4 {
          max-width: 350px;
          margin:0 auto;
          float:none;
        }
      }

      @media(min-width: $screen-xs +1) {
        .col-lg-4 {
          width:33.3333%;
          float:left;
        }
      }
    }

  .block-PullQuote {
      display: inline-block;
      width: 33%;
      float: right;
      font-size: 28px;
      line-height: 120%;
      padding: 20px;
      margin: 10px;
      background-color: #f6f6f6; 
  }

  @media(max-width: $screen-sm) {
    .block-PullQuote {
      width: 100%;
      float:none;
      margin-left:0;
      margin-right:0;
    }
  }

  .block-Quote {
    border-left: solid $red 5px;
    color: $light-grey;
    margin-left: 15%;
    margin-top:20px;
    margin-bottom:20px;
    
    .quote {
      padding-left: 10px;
      width: 80%;
      margin-bottom: 20px;
    }

    @media(max-width: $screen-xs) {
      margin-left: 8%;
    }
  }

  .block-Sharable {
    display: table;
    padding: 10px;
    border-left: solid $red 5px;
    color: $red;

    .quote, .tweet {
      display: table-cell;
      vertical-align: middle;
    }
    .quote {
      padding-left: 10px;
      font-size: 24px;
      line-height: 120%;
      width: 95%;
    }
    .tweet {
      font-size: 20px;
      text-align: right;
    }
  }

  .blurb-content{
    float: right;
    font-family: $sans-serif;

    .individual {
      width: 250px;
      padding: 5px 15px;
      margin: 10px 0 10px 15px;
      border-left: solid 1px $mid-grey;
      margin-bottom: 20px;
      padding: 5px 15px;
      img{
        margin: 0 auto 20px;
      }
    }

    .author a, .author{
      @include type(black);
    }
    .short-bio {
      font-size: 12px;
      line-height: 120%;
      color: $grey;
    }
    ul {
      padding: 5px 0 0 0;
      margin-bottom: 0px;
      li {
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: none;
        line-height: 120%;
        a{
          color: black;
        }
      }
    }
    @media(max-width: $screen-sm) {
      display: none;
    }
  }
  .home-link {
    text-align: center;
    img {
      display: inline-block;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .end-notes {
    color: $light-grey;

    li {
      list-style: none;
      line-height: 1.5em;
      text-indent: -2em;
    }
    .identifier {
      float: left;
      width: 2em;
    }
  }

  .citation{
    color: $light-grey;
    margin-bottom: 10px;
  }

  .toc {
    font-family: $sans-serif;
    ul {
      background-color: #f6f6f6;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 40px;
      margin-left: 0;

      li {
        margin: 3px;

        i {
          color: grey;
          font-size: 0.75em;
          padding-right: 5px;
        }
      }
    }
  }

  .toc h2, h2.chapter-heading {
    margin-top: 2em;
    font-family: $sans-serif;
  }

  .modal-link {
    color: $red;
  }
}

.in-depth-page{
  article{
    .story{
      border-bottom: $border-grey;
    }
  }
}

.in-the-series, .related-articles, .newsletter-list{
  margin: 20px 0;

  h2{
    @include subheading
  }
  h3{
    margin: 0 0 5px 0;
    font-size: 18px;
  }
  .series-teaser{
    padding-bottom: 20px;
  }
  .row{
    padding: 20px 0;
  }
  @media(max-width: $screen-sm){
    .row{
    padding: 10px 0;
  }
  }
}

.in-the-series{
  .series-title{
    display:inline-block;
    .rich-text{
      display:inline-block;
    }
  }
  .col-xs-2{
    padding-right: 0px;
  }
}

.related-articles{
  .row{
    @include row-divider;
  }

 @media(max-width: $screen-xs-max){
     figure{
       display: table;
       margin: 0 auto;
     }
    .row {
      @include no-row-divider;
    }
    .col-xs-12 {
      @include row-divider;
    }
   }
}