/**************  Article  **************/

.template-article-page, .template-series-page {
  @include article-title;

  .main-feature {
    @include article-overlay;
    @include fullbleed-overlay;

    color: $overlay-text-color;
    a{display:inline-block;
      &:hover{
        color: $overlay-link-hover-color;
      }
    }

    h2{
      color: $overlay-text-color;
    }

    .date{
      color: $overlay-text-color;
      font-size: 12px;
    }
    .primary-topic {
      @include type($primary-topic-color);
      font-weight: 700;
      margin-bottom: 10px;
      border-bottom: $border-white;
      a{
        padding-left: 0.5em;
        color:$primary-topic-color;
        &:hover{
          color: $primary-topic-hover-color;
        }
      }
    }

    .type {
      @include type($primary-topic-color);
      font-weight: 700;
      padding-bottom: 10px;
      border-bottom: $border-white;
      a {
        padding-left: 0;
        padding-right: 0;
        color: $primary-topic-color;
      }
    }

    .contributor{
      a {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
  .feature-caption{
    font-family: $sans-serif;
    font-size: 10px;
    color: $caption-color;
    float: right;
    margin: 5px 10px;
    line-height: 1.2em;

    .fa-camera {
      &:hover, &.highlighted {
        color: $overlay-link-color;
        cursor: pointer;
      }
    }
    @media(max-width: $screen-sm){
      .fa-camera{
        display: none;
      }
    }
  }
  .subtitle{
      font-weight: normal;
      font-family: $sans-serif;
      font-size: 18px;
      line-height: 125%;
    }

  .block-Paragraph {
    ul li {
      margin-bottom: 0.5em;
    }
  }
}

.article-scroll{

  .article-title{
    text-align: center;
    font-size: 15px;
    line-height: 18px;
  }
}

.date{
  @include type($text-color);
}

.topics,
.series-articles,
.search-results-page,
.narrow-content
{
  margin-left: 10%;
  margin-right: 10%;

  @media(max-width: $screen-xs){
    margin-left: 0;
    margin-right: 0;
  }
}

.series-articles{
  @include serif-small;
}

.series-teaser .block-Paragraph{
  margin-left: 0;
  margin-right: 0;

}

.block-Embed{
  margin: 10px 10%;
}

.block-Interactive {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-RelatedItems{
  margin:20px 15%;

  .heading{
    //margin: 10px 20px;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: 12px;
  }

  ul.item_list{
    border-top: $border-grey;
    border-bottom: $border-grey;
    list-style: none;
    padding:10px 0;


    li{
      .item_content{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding:5px 0;

        @media(max-width: $screen-sm) {
          width:100%;
        }

        a {
          color: $related-title-color;
          &:hover {
            color: $related-title-hover-color;
          }
        }

        .contributors{
          display: block;
          color: $related-contributors-color;
          margin-bottom: 0;

          .contributor-label {
            color: $related-contributors-color;
          }

          a {
            color: $related-contributors-color;

            &:hover {
              color: $related-contributors-hover-color;
            }
          }
        }
      }
    }
  }
}

.block-Image {
  .image {
    margin: 0 0 10px 0;
  }

  .left-aligned {
    float: left;
    margin: 5px 20px 0px 0;
    width:350px;
  }
  .right-aligned {
    float: right;
    margin: 5px 0px 0px 20px;
    width:350px;
  }
  .image-wrapper {
    clear: both;
    max-width: 100%;

    &.full-width {
      margin-bottom: 10px;
      .image {
          margin-bottom: 0;

          img {
          width: 100%;
          border:0;
          margin: 0 auto;
        }
      }

      .credit {
        text-align: center;
      }

      .image-label {
        color:$caption-color;
        text-transform: none;
        font-size:10px;
        margin-bottom: 0;
      }
    }

  }

  .image{
    position: relative;

    img {
      margin-bottom: 10px;
    }

    .bordered{
      border:solid 3px #e0e0e0;
    }

    .photo-zoom {
      color: $text-link-color;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
    }
  }

  .image-label {
      float: right;
      margin-bottom: 20px;
      color: $text-link-color;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: 0.9em;

      &.clickable {
        &:after {
          content:"\f08e";
          font-family: "FontAwesome";
          padding-left: 0.4em;
        }
      }
    }
}

.block-FullBleed{

  .block-Image{
    .image img{
      border: none;
    }
    .image-label{
      margin-right: 10px;
    }

  }

  div:nth-child(1){
      margin-left: 0px;
      margin-right: 0px;
  }
  .container-fluid{
      padding-left: 0px;
      padding-right: 0px;
  }

}

article {
  position: relative;

  &.row {
    @include row-divider;
  }

  .feature-line p{
    margin-bottom: 0px;
  }

  &.row.teaser {
    @include serif-small;
    margin-left: 0px;
    margin-right: 0px;

    .col-xs-12{
      padding-left: 0px;
      padding-right: 0px;
    }
    .col-xs-2{
      padding-left: 0px;
    }
    .col-xs-10{
      padding-right: 0px;
    }
    @media(max-width: $screen-xs-max){
      .col-sm-2{
        display: none;
      }
    }
  }

  .topics, .story{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h4, h5, h6 {
    margin: 10px 0 5px 0;
  }

  .main-image img {
    margin: 0 auto;
  }

  .top-link {
      color: $top-link-color;
      text-align: right;
      display: block;
      margin-right: 10%;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: 0.8em;
      outline:none;

      &:after {
        content:"\f106";
        font-family: "FontAwesome";
        padding-left: 0.25em;
      }
  }

  .topics {
    display: block;

    .topic-label {
      display:block;
      float:left;
    }
    @include type($text-color);
    @include inline-list-divided($topic-link-color,12px, $divider-color);
    ul.list-inline {
      padding-left: 68px;
      display: block;
      width: 100%;

      li {
        display: inline;
      }
    }
  }

  .type {
    @include type($site-primary-color);
    @include subheading(14px);
  }
  .primary-topic {
    @include subheading(14px);
    @include type($site-primary-color);
    margin-top: 0px;

    i {
      color: $text-color;
    }
  }

  ul.share-links {
    position: absolute;
    padding: 0 0 20px 0;
    margin: 3px 0 0 0;
    top: 0px;

    @media(max-width: $screen-sm) {
      position: relative;
      margin:0px 10% 0;
      padding-bottom: 10px;
      li{
        display: inline-block;
        margin-right: 5px;
        div{
          width: auto;
          text-align: left;
          margin: 0px;
          padding: 10px;
        }
        i{
          font-size: 20px;
        }
      }
      .count{
        display: none;
      }
    }
    @media(max-width: $screen-xs) {
      margin-left: 0px;
      margin-right:0;
    }

    &.below-feature {
      padding-top:20px;
    }

    div{
      width: 20px;
      margin-left: 5px;
      display:inline-block;
      color: $share-link-color;
      span:hover{
        color: $share-link-hover-color;
      }
      a{
        color: $share-link-color;
        &:hover{
          color: $share-link-hover-color;
        }
      }
    }
    i {
      cursor: pointer;
    }
    .count{
      color: $light-grey;
      font-family: $sans-serif;
    }
    li{
      list-style: none;
      text-align:right;
    }
  }

    .block-ColumnedContent {
      .col-lg-6 {
        width: 50%;
        float:left;
      }

      @media(max-width: $screen-xs) {
        .col-lg-4 {
          max-width: 350px;
          margin:0 auto;
          float:none;
        }
      }

      @media(min-width: $screen-xs +1) {
        .col-lg-4 {
          width:33.3333%;
          float:left;
        }
      }
    }

  .block-PullQuote {
      display: inline-block;
      width: 33%;
      float: right;
      font-size: 28px;
      line-height: 130%;
      padding: 20px;
      margin: 10px;
      color: $article-block-text-color;
      background: $article-block-bg-color;
      border-left:$article-block-border-width solid $article-block-border-color;
      @media(max-width: $screen-sm-max) {
          width: auto;
          margin-left: 15%;
          margin-right: 15%;
          font-size: 18px;
          float:none;
        }
  }

  .block-Sharable, .block-Quote{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-left: $article-quote-border;
    .quote{
      p{
        margin: 0px;
      }
      padding-left: 10px;
    }
  }

  .block-Quote {
    color: $article-quote-text-color;
  }

  .block-Sharable {
    display: table;
    color: $article-shareable-text-color;

    .quote, .tweet {
      display: table-cell;
      vertical-align: middle;
    }
    .quote {
      font-size: 24px;
      line-height: 120%;
      width: 95%;
    }
    .tweet {
      font-size: 20px;
      text-align: right;
    }
  }

  .block-Sharable, .block-Quote, .block-PullQuote{
    @media(max-width: $screen-xs){
      margin-left: 0;
      margin-right: 0;
    }
  }

  .blurb-content{
    float: right;
    font-family: $sans-serif;

    .individual {
      width: 250px;
      padding: 5px 15px;
      margin: 10px 0 20px 15px;
      border-left: $blurb-border;

      img{
        margin: 0 auto 20px;
      }
    }

    .author{
      @include type($blurb-author-link-color);
    }
    a{
      color: $blurb-link-color;
      &:hover{
        color: $blurb-link-hover-color;
      }
    }
    .short-bio {
      font-size: 12px;
      line-height: 120%;
      color: $blurb-bio-text-color;
    }
    ul {
      padding: 5px 0 0 0;
      margin-bottom: 0px;
      li {
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: none;
        line-height: 120%;
        a{
          color: $blurb-link-color;
        }
      }
    }
    @media(max-width: $screen-sm) {
      display: none;
    }
  }
  .home-link {
    text-align: center;
    img {
      display: inline-block;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .end-notes {
    color: $article-end-notes-color;
    padding-left:0;

    li {
      list-style: none;
      line-height: 1.5em;
      padding-bottom: 0.5em;
      position: relative;

      .identifier {
        float: left;
        text-align: right;
        width: 1em;
        direction: rtl;
        position: absolute;
        top:0;
        left:0;
        font-size: 10.5px;
      }

      .note {
        padding-left:2em;
        display: block;
      }
    }
  }

  .citation{
    color: $article-citation-color;
    margin-bottom: 10px;
    word-wrap:break-word;
  }

  .toc {
    font-family: $sans-serif;
    ul {
      background-color: $article-toc-bg-color;
      border-top:$article-toc-border-width solid $article-toc-border-color;
      border-bottom:$article-toc-border-width solid $article-toc-border-color;

      margin-left: 0;
      margin-top:10px;
      padding:20px 40px;

      li {
        a{
          color: $article-toc-link-color;
          &:hover{
            color: $article-toc-link-hover-color;
            text-decoration: $article-toc-link-underline;
          }
        }

        i {
          color: $article-block-list-marker-color;
          font-size: 0.75em;
          padding: 5px 5px 0 0;
        }
      }
    }
  }

  // .toc h2, h2.chapter-heading {
    // margin-top: 2em;
    // font-family: $sans-serif;
    // font-size: 20px;
    // font-weight: 500;
  // }

  // .chapter h3 {
  //   font-family: $sans-serif;
  //   font-size: 18px;
  //   margin:1.25em 0;
  //   font-weight: 700;
  // }

  .modal-link {
    color: $text-link-color;
  }
}

.in-depth-page{
  article{
    .story{
      border-bottom: $border-grey;
    }
  }
}

.story{
  .dropcap-start p:first-child:first-letter {
    font-size: 65px;
    line-height: 65px;
    margin-right: 10px;
    margin-top:5px;
    float: left;
    text-transform: uppercase;
  }

  h2{
    @include article-list-title;
  }
  h3{
    font-weight: 700;
    font-size: 20px;
    margin: 1.25em, 0;
    font-family: sans-serif;
  }
}
.in-the-series, .related-articles, .newsletter-list{
  color: $article-teaser-color;

  h2{
    @include subheading;
  }
  h3{
    margin: 0 0 5px 0;
    font-size: 21px;
    font-weight: 900;

  }
  .series-teaser{
    padding-bottom: 20px;
  }
}

.in-the-series{
  .row{
    padding-bottom: 20px;
  }
  .series-title{
    display:inline-block;
    .rich-text{
      display:inline-block;
    }
  }
  .col-xs-2{
    padding-right: 0px;
  }
}

.related-articles{

 @media(max-width: $screen-xs-max){
     figure{
       display: block;
       margin: 0 auto;
     }

  }
}

.article-list-page {
  .narrow-content {
    position: relative;

    .editors-pick-link {
      top:-38px;
    }
  }
}
