/**************  External Article pages  **************/

#external-article-page {
	.source {
		float:left;
	}
}

#external-article-list-page{
	h1 {
		@include subheading;
	}
	img {
	    border: 1px solid #cccccc;
	    border-radius: 50%;
	}
}