/**************   HEADER  **************/

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  color: white;
  background: $red;
  transition: height 0.3s, background 1s;

  &.transparency {
    background: transparent;
    position: absolute;

    .wordmark a {
      color:rgba(255,255,255,0.5);
      transition: color 1s;
    }
  }

  .search{
    text-align:right;
    font-size: 20px;
    
    #search-box-toggle {
      width: 25px;
      float:right;
      cursor: pointer;
    }
  }

  .social {
    display: none;
  }

  .search button:hover,
  .menu button:hover{
    color: $mid-grey;
  }

  .menu{
    text-align:left;
    font-size: 20px;

    #toggle-mobile {
      width: 25px;
      cursor: pointer;
    }
  }

  .template-home-page &{
    .search, .menu{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .banner{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .wordmark, .tagline{
    text-align: center;
    font-family: $sans-serif;
    line-height: 110%;
  }

  .wordmark{
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    a{
      color: white;
    }
    a:hover{
      text-decoration: none;
    }
  }

  .tagline, .article-title{
    display: none;
  }

  .template-home-page & .tagline{
    display: block;
    font-size: 16px;
    font-weight: 100;

    .menu, .search{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  #main-menu{
    @include inline-list-divided(white, 12px);

    ul li a{
      font-family: $sans-serif;
    }

    ul li a:hover{
      color: $mid-grey;
    }
  }

  &.collapsed.scrolled{
    background: #000;
  }

  &.collapsed {
    @include collapsed;
  }

  @media(max-width: $screen-lg){
    .banner{
       margin-left: 0;
      margin-right: 0;
    }
  }

  @media(max-width: $screen-md){
    @include collapsed;

  }

  @media(max-width: $screen-xs){
    .wordmark{
      font-size: 20px;
      padding-top:7px;
      line-height: 20px;
    }
  }
}