/**************   HEADER  **************/

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  color: white;
  background: $red;
  transition: height 0.3s, background 1s;

  &.transparency {
    background: transparent;
    position: absolute;

    .wordmark a {
      color:rgba(255,255,255,0.5);
      transition: color 1s;
    }
  }

  &.scrolled {
    background: #000;
    transition: background 1s;
  }

  .search{
    text-align:right;
    font-size: 20px;
    
    #search-box-toggle {
      width: 25px;
      float:right;
      cursor: pointer;
    }
  }

  .search button:hover,
  .menu button:hover{
    color: $mid-grey;
  }

  .menu{
    text-align:left;
    font-size: 20px;

    #toggle-mobile {
      width: 25px;
      cursor: pointer;
    }
  }

  .banner{
    padding-top:12px;
    padding-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .wordmark, .tagline{
    text-align: center;
    font-family: $sans-serif;
    line-height: 110%;
  }

  .wordmark {
    font-weight: 700;
    font-size: 20px;
    padding-top:4px;
    line-height: 20px;
    text-transform: uppercase;

    a {
      color: white;
      
      &:hover{
        text-decoration: none;
      }
    }
  }

  .tagline, .article-title{
    display: none;
  }

  .template-home-page & .tagline{
    font-size: 16px;
    font-weight: 100;

    .menu, .search{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  //for mobile displays
  #main-menu{
    position: fixed;
    top: 54px;
    left: -400px;
    z-index: 300;
    height: 100%;
    width: 200px;
    padding: 25px;
    margin-top: 0px;
    background: #000;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition:left 0.5s, visibility 0.5s, opacity 0.5s;
    

    &.noAnimation {
      transition:left 0s !important;
    }

    &.open{
      left: 0;
      opacity: 1;
      visibility: visible;
      transition:left 0.5s, visibility 0.5s, opacity 0.5s;
    }

    ul li a{
      font-family: $sans-serif;
    }

    ul.social{
      border-top: $border-white;
      margin-top: 10px;
      padding-top: 10px;
      li a{
        font-size: 12px;
      }
      i{
        width: 20px;
      }
    }

    ul{
      margin:0;
      padding:0;

      li{
        display: block;
        padding: 3px 5px;

        a {
          color: #fff;
          font-family: $sans-serif;
          font-weight: 700;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }

  @media(max-width: $screen-lg){
    .banner{
       margin-left: 0;
      margin-right: 0;
    }
  }

  @media(min-width: $breakpoint){

    #main-menu{ 
      @include inline-list-divided(white, 12px);
      display: block;
      position: relative;
      top:0;
      left: 0;
      width: auto;
      padding: 0px;
      background: transparent;  
      transition:left 0s, visibility 0s, opacity 0s;
      visibility: visible;
      opacity: 1
    }

    //for large displays
    &.collapsed{
      
      #toggle-mobile {
        display: block;
      }

      #main-menu {
        position: fixed;
        top: 54px ;
        left: -400px;
        height: 100%;
        width: 200px;
        padding: 25px;
        background: #000;
        visibility: hidden;
        transition:left 0.5s, visibility 0.5s;
        

        &.open{
          left: 0;
          visibility: visible;
        }
      }
    }

    #toggle-mobile {
      display: none;
    }

    .wordmark {
      font-size: 27px;
      padding-top:4px;
    }

    .banner{
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 10%;
      margin-right: 10%;
    }

    .social {
      display: none;
    }

    //header is collapsed and smaller.
    &.collapsed {
      .menu, .search {
        width: 5%;
      }

      .logo {
        width: 90%;
      }

      .banner{
        padding-top: 12px;
        padding-bottom: 12px;
       
      }

      .wordmark {
        font-size: 20px;
      }

      .social {
        display: block;
      }

      #main-menu{ 
       
        ul li a:after {
          content:"";
        }
      }

      &.article-scroll .article-title {
        display: block;
      }

      .wordmark {
        display: none;
      }

      &.keep-wordmark {
        .wordmark {
          display: block;
        }
      }
    }
  }
}

.template-home-page {
  .tagline{
    display: none;
  }

  @media(min-width: $breakpoint){
    .tagline {
      display: block;
    }

    header.collapsed {
      .tagline {
        display: none;
      }

      &.article-scroll.article-title {
        display: none;
      }

      .wordmark {
        display: block;
      }
    }
  }
}