
/**************   Homepage  **************/

.template-home-page .main-feature{
    @include article-overlay;
    @include fullbleed-overlay(700);

  .scroll{
    position: absolute;
    z-index:10;
    bottom: -5px;
    left: 50%;
    margin-left: -25px;
    border-radius: 25px;
    width: 50px;
    height: 50px;

    a{
      color: $overlay-link-color;
      text-decoration: none;
      display: block;
      text-align: center;

      -webkit-animation: bounce 2s infinite;
      -moz-animation:    bounce 2s infinite;
      -o-animation:     bounce 2s infinite;
      animation: bounce 2s infinite;

      i{
        font-size:50px;
      }
    }
  }

  @keyframes bounce {
  	0%, 25%, 75%, 100% {
        transform: translateY(0);
  	}
  	50% {
        transform: translateY(0.4em);
  	}
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes bounce {
    0%, 25%, 75%, 100% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(0.4em);
    }
 }

  @media(max-width: $screen-sm){
    .scroll{
      display:none;
    }
  }
}

.template-home-page {
  @include container-full-bleed;
  @include rowheight-x;

  section{
    margin-bottom: 50px;
    @media(max-width: $screen-sm){
      margin-bottom: 25px;
    }
  }
  section:last-child{
    margin-bottom: 0px;
  }

  h2 {
    @include subheading;
  }
}
