
/**************   Homepage  **************/

.template-home-page .main-feature{
  @include article-overlay;
  @include fullbleed-overlay;

  .scroll{
    position: absolute;
    z-index:10;
    bottom: -5px;
    left: 50%;
    margin-left: -25px;
    border-radius: 25px;
    width: 50px;
    height: 50px;

    a{
      color: $overlay-link-color;
      text-decoration: none;
      display: block;
      text-align: center;

      -webkit-animation: bounce 2s infinite;
      -moz-animation:    bounce 2s infinite;
      -o-animation:     bounce 2s infinite;
      animation: bounce 2s infinite;

      i{
        font-size:50px;
      }
    }
  }

  @keyframes bounce {
  	0%, 25%, 75%, 100% {
        transform: translateY(0);
  	}
  	50% {
        transform: translateY(0.4em);
  	}
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes bounce {
    0%, 25%, 75%, 100% {
        -webkit-transform: translateY(0); 
    }
    50% {
        -webkit-transform: translateY(0.4em);
    }
 }

  @media(max-width: $screen-sm){
    .scroll{
      display:none;
    }
  }
}

.template-home-page {
  @include container-full-bleed;
  @include rowheight-x;

  h2 {
    @include subheading;
  }

  h3{
     @include article-list-title;
  }


  //visualizations
  .simple{
    img{
      padding-bottom: 10px;
    }
    .row.last{
      margin-bottom: 15px;
    }
  }

  @media(min-width:$screen-xs-min) and (max-width: $screen-sm-min) {
    .simple{
      .col-sm-3, .col-sm-6 {
        width: 50%;
        float:left;
        margin-bottom: 1em;

        &:nth-child(odd) {
          clear: both;
        }
      }
    }
  }

  //readings and in-depths
  .items.side-image{

    .row{
      padding-top: 15px;
      @include row-divider;
    }
    .row.last{
      @include no-row-divider;
      margin-bottom: 15px;
    }
      figure{
        float:left;
      }

      .teaser{
        margin-left: 100px;
        font-size: 12px;
        line-height: 165%;

        .block-Paragraph {
          margin-left:0;
          margin-right:0;
        }
      }

    @media(max-width: $screen-sm){
      .row{
        @include no-row-divider;
      }
      .col-sm-6{
        @include row-divider;
      }
      .row.last .col-sm-6:last-child{
        @include no-row-divider;
        margin-bottom: 15px;
      }

    }
    @media(max-width: $screen-tiny-max){
      figure {
        display: none;
      }
      .teaser {
        margin-left:0;
      }
    } //end media query
  }
}


.editors-pick-link, .most-popular {
  display: block;
  position: absolute;
  top: 0%;
  right: 20px;
  z-index: 11;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: $badge-color;
    
  @media(min-width: $screen-sm){
    top: 0%;
  }

  .table {
    display: table;
    margin-bottom: 0;
    height: 100%;
    
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      text-align: center;
      padding:0px;

      a {
        text-decoration: none;
        display: inherit;
        height: 100%;
        width: 100%;
        padding:15px 0px;
        line-height: 1em;
        outline:none;

        &:hover {
          color:$mid-grey;
        }
      }
    }
  }

  a.article-feature{
    color: white;
    font-family: $sans-serif;
    font-size: 10px;
  }
}

.most-popular{
  background: $button-bg-color;
}

