/**************   General Styles  **************/
html {
    position: relative;
    min-height: 100%;
}

body{
  color: $text-color;
  font-family: $serif;
  font-size: 14px;
  height: auto;
  line-height: 1.5;
}

h1, .jumbotron h1{
  margin-top: 10px;
  font-size: 60px;
  font-weight: bold;
}

h1.subheading, .narrow-page h1{
  @include subheading;
}

h2{
  font-size: 18px;
  margin-top: 0px;
}

h3{
  font-size: 18px;
  margin-top: 0px;
}

h4{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

h5, h6{
  font-weight: bold;
  font-size: 14px;
}

@media(max-width: $screen-sm){
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 14px;
  }
}

a, a:hover{
  color: $red;
}

img{
  @include img-responsive;
}

button{
  border:none;
  background: none;
}
button:focus {outline:0;}

.clear{
  clear:both;
}

.image-credit {
    margin-top: 5px;
    font-size: 12px;
    line-height: 125%;
    font-family: $sans-serif;
    color: $caption-grey;
  }

  .image-source{
    margin-top: 3px;
    @include type($light-grey, 11px)
  }

.contributors{
  margin-bottom: 5px;
  .contributor-label{
    color: $caption-grey;
    margin-right: 3px;
  }

  @include type($text-color);
  a{
    color: $text_color;
  }
  .contributor{
    display: inline-block;
  }
}

.contributors, .date{
  display: inline-block;
}

/**************   FOOTER  **************/

footer{
  color: white;
  font-family: $sans-serif;
  background: $light-grey;
  padding-bottom: 40px;

  a{
    color: white;
  }

  h3{
    @include type(white, 12px);
    font-weight: 700;
    letter-spacing: 0.06em;
  }
  .row{
    padding: 20px 0;
  }

  .featured-topics{
    .label{
      float:left;
      margin-right: 20px;
      padding: 3px 0px;
      @include type(white);
    }
    @include inline-list-divided($red);
    ul li a:hover{
      text-decoration: underline;
    }
  }

  .row.infobar{
      display: table;
    p{
      font-weight: 200;
      font-size: 14px;
      line-height: 120%;
    }
  }
   .row.infobar .col-sm-4 {
     border-right: $border-white;
     display: table-cell;
     float: none;
   }

   .row.infobar .col-sm-4:last-child {
     border-right: none;
   }

  @media(max-width: $screen-xs-max) {
    .row.infobar{
      display: block;
    }
    .row.infobar .col-sm-4{
      display:block;
      border-top: $border-white;
      border-right: none;
      padding-top: 20px;
      margin-bottom: 20px;

      &:first-child {
        border-top:0;
      }
    }
  }

  @media(min-width: $screen-sm) {
    padding-bottom: 80px;
    padding-top:40px;
  }

  .newsletter-form{
    background: $mid-grey;
    padding: 5px;
    margin-bottom: 20px;

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   $text-color;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:$text-color;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: $text-color;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:$text-color;
    }

    #mc_embed_signup{
      font-family: $sans-serif;
      form{
        padding: 0px;
      }

      label{
        font-style: italic;
        text-align: center;
        font-weight: normal;
      }
      input{
        display: inline-block;
        text-transform: uppercase;

        &.email{
          color: $text-color;
          border-radius: none;
          border: none;
          background: none;
          min-width: 120px;
          padding: 5px 0;
          margin: 3px 10px 0 5px;
          font-size: 12px;
        }
        &.button{
          min-width:75px;
          @include button;
          display:inline-block;
          margin-bottom: 0px;
          font-weight: 300;
          font-size: 12px;
        }
      }

       @media(max-width: $screen-md) {
         input{
           &.email{
             margin: 3px 5px 0 2px;
             font-size: 10px;
             width: 130px;
             min-width: 130px;
           }
           &.button{
             font-size: 10px;
             min-width: 65px;
             width:65px;
           }
         }
       }
      @media(max-width: $screen-xs-max) {
         input{
           &.email{
             min-width: 82%;
             font-size: 14px;
           }
           &.button{
             min-width: 15%;
             font-size: 14px;
           }
         }
       }
    }
  }

  .social-links{
    @include inline-list($red, 18px);
    ul li{
      margin-right: 20px;
    }
  }

  @media(max-width: $screen-sm) {

    .follow h3{
      float: left;
      margin: 5px 10px 0 0;
    }
  }

  .partner{
    text-align: center;
    padding: 0 0 20px 0;
    img{
      display: inline;
    }
  }

  .row.partner-row{
    border-top: $border-white;
  }
  .partners, .contact{
    @include centered-fixed-width(550px);
    @include small-type;
    text-align: center;
  }
  .contact{
    text-transform: uppercase;
  }
}

/**************   Main  **************/

main{
  margin-bottom: 30px;
}

.navigation-lock {
    overflow: hidden !important;

    main:before {
      content:"";
      top:0;
      left:0;
      bottom:0;
      right:0;
      background: rgba(255,255,255,0.75);
      z-index: 12;
      position: fixed;
    }
}

