/**************   General Styles  **************/
html {
    position: relative;
    min-height: 100%;
}

body{
  min-height: 100%;
  color: $text-color;
  font-family: $sans-serif;
}

h1{
  font-size: 36px;
}

h2{
  font-size: 24px;
  margin-top: 0px;
}

h3{
  font-size: 18px;
  color: $red;
}

h4{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

h5, h6{
  font-weight: bold;
  font-size: 14px;
}

a, a:hover{
  color: $red;
}

img{
  @include img-responsive;
}



/**************   HEADER  **************/

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: white;
  background: $red;
  transition: height 2s, background 2s;

  button{
    border:none;
    background: none;
    padding: 0px;

    .fa-list-ul{
      padding: 10px;
    }
  }

  button:focus {outline:0;}

  .banner{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vcenter {
    margin-top: 2.2%;
  }

  .share-links{
    @include inline-list(white, 20px);
    ul li{
      margin-right: 7px;
    }
    &.vcenter{
      margin-top: 2.0%;
    }
    text-align:right;
  }

  #main-menu{
    @include inline-list-divided(white, 16px);
    text-align:right;
  }

  .toggle-nav{
      display:none;
      font-size: 20px;
  }

  &.collapsed.scrolled{
    background: #333;
  }

  &.collapsed {
    @include collapsed;
  }

  @media(max-width: $screen-md){
    @include collapsed;
  }

  @media(max-width: $screen-sm){
    .share-links{
      .twitter, .facebook{
        display: none;
      }

    }

  }

}

/**************  Search  **************/

#search-box{
    width: 100%;
    position: fixed;
    overflow-y: hidden;
	height: 0;
    background: $background-grey;

    z-index: 200;
    opacity: 0.9;

	transition: 0.8s;

    &.open{
      overflow-y: visible;
      padding: 20px;
      height: 80px;
      border-bottom: $border-red;

  }

  button{
    background: $red;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 6px;
    width: 20%;
    text-transform: uppercase;
  }
  input{
    width: 75%;
    margin-right: 10px;
    border-radius: 4px;
    border: $border-red;
    padding: 5px;
  }
  .input-group{
    width: 60%;
    margin: 0 auto;
    @media(max-width: $screen-sm){
      width: 100%;
    }
  }

}


.search-results{
  ul li{
    list-style: none;
  }
}

/**************   FOOTER  **************/

footer{
  color: white;
  a{
    color: white;
  }
  background: $red;
  padding-bottom: 40px;

  .row{
    padding: 20px 0;
  }

  .newsletter{
    border-bottom: white 1px solid;
    margin-bottom: 20px;
  }
  .newsletter-form{
    @include centered-fixed-width(600px);
    font-weight: normal;
    font-size: 1.0em;

    #mc_embed_signup{
      font-family: $sans-serif;
      form{
        padding: 0px;
      }
      .form-control{
        display: inline-block;
        width: 60%;
        height: 33px;
      }
      label{
        font-style: italic;
        text-align: center;
        font-weight: normal;
      }
      input{
        display: inline-block;
      }

      .button{
        width: 25%;
        background-color: white;
        color: $red;
        text-transform: uppercase;
      }
      .email{
        padding: 6px 12px;
        font-style: italic;
      }
    }
  }

  .partner{
    text-align: center;
    padding: 20px 0;
    img{
      display: inline;
    }
  }

  .tagline{
    @include centered-fixed-width(700px);
    font-family: $serif;
    font-style: italic;
    text-align: center;
  }
  .contact{
    @include  centered-fixed-width(600px);
    text-align: center;
    @include type(white);
  }
}

/**************   Homepage Feature  **************/

.feature{
  position: relative;
  color: white;
  font-family: $sans-serif;

  .feature-image{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
    height: 100%;
  }

  #features & .feature-image{
    padding-top: 66.65%;
  }

  .feature-image-overlay{
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    top: 0; right: 0; bottom: 0; left: 0;
    //background: hsla(0, 0%, 0%, 0.3);
  }

  .feature-text, .image-caption, .scroll{
    position: absolute;
    z-index:10;
  }

  .feature-text{
    top: 10%;
    top: 10%;
    left: 25%;
    max-width: 670px;
    margin-right: 10%;
    h1{
      font-size: 2.4em;
      a{
       text-decoration: none;
      }
      a:hover{
        color: $red;
      }
    }
    .feature-line{
      font-size: 1.4em;
    }
    .contributors{
      margin-top: 5%;
      @include type(white);
      a{color: white;}
    }
  }
  .scroll{
    font-size: 60px;
    bottom: 15%;
    left: 50%;

    a{color: $red; }
  }
  @keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(0.2em);
		transform: translateY(0.2em);
	}
  }

  .scroll a{
    text-decoration: none;
  }
  .scroll a:hover{
    -webkit-animation: bounce 2s;
    -moz-animation:    bounce 2s;
    -o-animation:     bounce 2s;
    animation: bounce 2s;

  }
   .image-caption{
      font-family: $sans-serif;
      right: 2%;
      bottom: 3%;
     .fa-camera.highlighted{
       color: $red;
     }
  }

  @media(max-width: $screen-lg){
    background: white;
  }

  @media(max-width: $screen-sm){
    .feature-text, .image-caption{font-size: 80%;}
    .feature-text h1{
      font-size: 24px;
    }
    .scroll{
      font-size: 36px;
    }
  }
}

/**************  Main  **************/

.boxes{
  margin-bottom: 20px;

  .row{
    @include row-divider;
  }
  .quad .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }
  .row.single .col-sm-6:first-child{
    border-right: $border-grey;
  }
  .teaser{
    margin: 5% 0;
  }

  @media(max-width: $screen-sm){
    .row.single .col-sm-6:first-child{
      border-right: none;
      border-bottom: $border-grey;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
}

.contributors{
  @include type($text-color);
  a{
    color: $text_color;
  }
  .contributor{
    display: inline-block;
  }
  .contributor:after{
    content: ', ';
  }
  .contributor:last-child:after{
    content: '';
  }

}

/**************  Article  **************/

.article-scroll{

  header{
    .share-links, .logo{
      display: none;}
  }

  .title{
    width: 70%;
    text-align:center;
  }
  h1, .share-links{
    position: fixed;
    z-index: 1100;
  }
  h1{
    width:inherit;
    top: 18px;
    color: white;
    font-size: 16px;
    text-align: center;

  }
  .share-links{
    margin-top: 0;
    right: 0;
    top:0;
    li{
      display:inline;
      span, a{
        color: white;
      }
    }
    .email{
      display:none;
    }
    .fa{
      font-size: 16px;
      margin-right: 5px;
    }
  }

}

main{
  .date{
    @include type(#000);
  }
}

article, .related-articles{
  .contributors, .date{
    display:inline-block;
  }
  .contributors a{
    color: $red;
  }
}
article{
  &.row{
    @include row-divider;
  }
  margin-top: 40px;
  margin-bottom: 40px;

  .title,
  .block-Paragraph,
  .block-Heading,
  .block-Image,
  .block-Sharable,
  .block-Embed,
  .topics{
    margin-left: 10%;
    margin-right: 10%;

    @media(max-width: $screen-xs){
      margin-left: 0;
      margin-right: 0;
    }
  }
  .title, .topics, .story{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1{
    margin: 0 0 20px 0;
  }
  h2, h3{
    margin: 10px 0;
  }
  h4, h5, h6{
    margin: 10px 0 5px 0;
  }

  .main-image img{
    margin: 0 auto;
  }

  .topics{
    .tag-icon{
      display:inline-block;
    }
    @include type($text-color);
    @include inline-list-divided($red);
  }

  .type{
    @include type($red);
  }
  .primary-topic{
    @include type($red);
    i{
      color: $text-color;
    }
  }

  ul.share-links{
    position: absolute;
    margin-top: 20px;
    padding: 20px;
    span{
      color: $red;
    }
    li{
      list-style: none;}
  }

  .dropcap-start::first-letter{
    color: $red;
    font-size: 65px;
    line-height: 55px;
    margin-right: 10px;
    float: left;
  }

  .block-Image{
    .image{
      margin: 0 0 10px 0;
    }
    .credit{
      margin-top: 10px;
      font-size: 0.8em;
      text-transform: uppercase;
      color: $grey;
    }
    .left-aligned{
      float: left;
      margin: 5px 20px 20px 0;
    }
    .right-aligned{
      float: right;
      margin: 5px 0px 20px 20px;
    }
    .full-width{
      img{
        margin: 0 auto;
      }
      .credit{
        text-align: center;
      }

    }
  }

  .block-Sharable{
    display: table;
    margin: 20px;
    padding: 10px;
    border-left: solid $red 5px;
    color: $red;

    .quote, .tweet{
      display: table-cell;
      vertical-align: middle;
    }
    .quote{
      padding-left: 10px;
      font-size: 26px;
      line-height: 120%;
      width: 80%;
    }
    .tweet{
      font-size: 20px;
      text-align: right;
    }
  }

  .block-AuthorBlurb{
    float:right;
    width: 300px;
    padding: 5px 15px;
    margin: 10px 0 10px 15px;
    border-left: solid 2px $mid-grey;
    .author{
      @include type(black);
    }
    .short-bio{
      font-size: 0.8em;
      font-weight: bold;
      font-family: $serif;
    }
    ul{
      padding: 5px 0 0 0;
      margin-bottom: 0px;
      li{
        list-style: none;
        font-family: $serif;
      }
    }

  }
  .home-link{
    text-align: center;
    img{
      display: inline-block;
    }
  }
}

.in-depth-page{
  article{
    .story{
      border-bottom: $border-grey;
    }
    ul.share-links {
      margin-top: 40px;
    }
  }
}

.in-the-series, .related-articles{
  margin: 20px 0;

  h2{
    font-family: $sans-serif;
    text-transform: uppercase;
    font-size: 14px;
  }
  h3{
    margin: 0 0 5px 0;
    font-size: 18px;
  }
  .row{
    padding-bottom: 20px;
  }
}

.in-the-series{
  .intro, .row, .series-teaser{
  }
  border-bottom: $border-grey;
}

.related-articles{
  h3{
    margin-top: 10px;
  }
}

.contributor-profile{
  margin-bottom: 40px;
  .fa-twitter{
    color: $twitter-blue;
  }

}
