@mixin type($color:$text-color, $font-size:12px){
    font-family: $sans-serif;
    font-size: $font-size;
    text-transform: uppercase;
    color: $color;
}

@mixin inline-divider($padding-left, $padding-right, $color){
  padding-left: $padding-left;
  padding-right: $padding-right;
  content: '/';
  color: $color;
}


@mixin row-divider{
  border-bottom: $border-grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin no-row-divider{
  border-bottom: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

@mixin centered{
  margin: 0 auto;
}

@mixin hide{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

@mixin centered-fixed-width($width){
  @include centered;
  max-width: $width;
}

@mixin inline-list($color, $font-size:12px){
  ul{
      margin: 0px;
      padding: 0px;
      li{
        color: $color;
        display: inline-block;
        list-style: none;
        padding: 0px;
        margin: 0px;
      }
    }
    ul li a{
      @include type($color, $font-size);
    }
    ul li a:hover,
    ul li a:active{
      text-decoration: none;
    }
}

@mixin inline-list-divided($color, $font-size:12px, $divider-color:$color){
  @include inline-list($color, $font-size);
    ul li a:after{
      @include inline-divider(10px, 5px, $divider-color);
    }
    ul li:last-child{
      a:after{
        content: '';
      }
    }
}

@mixin button{
    font-family: $sans-serif;
    background: $red;
    border-radius: 3px;
    border: none;
    color: white;
    text-transform: uppercase;
    a{
      color: white;
    }
}


@mixin collapsed{
  height: 55px;
  .banner{
      padding-top: 12px;
      padding-bottom: 12px;
    }
  .logo, .share-links{
    text-align: center;
  }
  .logo{
    img{
      max-height: 40px;
      display: inline;
    }
  }

  #main-menu{
    z-index: 300;
    &.mobile-menu{
      position: fixed;
      transition: 1s;
      top: 0;
      left: -400px;
      z-index: 300;
      height: 100%;
      width: 200px;
      padding: 25px;
      margin-top: 0px;
      background: $background-grey;
      border-right: $border-red;
      text-align: left;

      ul.social{
        border-top: $border-white;
        margin-top: 10px;
        padding-top: 10px;
        li a{
          font-size: 12px;
        }
        i{
          width: 20px;
        }
      }

      ul{
        margin-top: 0px;

        li{
          display: block;
            padding: 5px;
          a{
            color: $red;
          }
          a:after{
            content: '';
          }
        }
      }
    }

    &.mobile-menu.open{
      transition: 0.5s;
      left: 0;
    }
  }
}

@mixin article-overlay{
  position: relative;
  color: white;

  .contributors, .contributors a, a{
    color: white;
    text-decoration:none;
  }
   a:hover{
    color: $red;
  }

  .feature-image{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
    height: 100%;
  }

  .feature-image-overlay{
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0, 0.5);
  }

  .camera, .image-caption, .feature-text{
    position: absolute;
    z-index:10;
  }

  .feature-text{
    top: 10%;
    margin-right: 5%;
    .feature-line{
      font-size: 1.4em;
    }
    .contributors{
      margin-top: 5%;
    }
  }

  .camera{
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    font-size: 16px;
    &.highlighted,
    &:hover{
      cursor: pointer;
      color: $red;
    }
  }
  .image-caption{
    left: 3%;
    right: 8%;
    bottom: 3%;
    .text{
      display:none;
      background: $background-grey;
      padding: 3px 5px;
      border-radius: 2px;
      color: black;
      font-family: $sans-serif;
    font-size: 11px;
    }
  }
  @media(max-width: $screen-xs){
     .feature-text{
       .feature-line{
         font-size: 1.0em;
       }
     }
  }
}


@mixin newsletter-form{
  font-weight: normal;
  font-size: 1.0em;

  #mc_embed_signup_scroll{
    text-align: center;
  }
    #mc_embed_signup{
      font-family: $sans-serif;
      form{
        padding: 0px;
      }

      label{
        font-style: italic;
        text-align: center;
        font-weight: normal;
      }
      input{
        display: inline-block;
        border-radius: none;
        border: $border-red;
        width: 50%;
        color: $text-color;
      }

      .button{
        width: 25%;
        background-color: white;
        color: $red;
        text-transform: uppercase;
        display:inline-block;
      }
      .email{
        padding: 6px;
        font-style: italic;
        margin-right: 2%;
      }
    }
}