@mixin type($color, $font-size:12px){
    font-family: $sans-serif;
    font-size: $font-size;
    text-transform: uppercase;
    color: $color;
}

@mixin inline-divider($padding-left, $padding-right, $color){
  padding-left: $padding-left;
  padding-right: $padding-right;
  content: '/';
  color: $color;
}

@mixin centered{
  margin: 0 auto;
}

@mixin gutter($top:0px, $bottom:0px){
  padding: $top 100px $bottom 100px;
}

@mixin centered-fixed-width($width){
  @include centered;
  max-width: $width;
}

@mixin inline-list($color, $font-size:12px){
  ul{
      display: inline-block;
      margin: 0px;
      padding: 0px;
      li{
        display: inline-block;
        list-style: none;
        padding: 0px;
      }
    }
    ul li a{
      @include type($color, $font-size);
    }
    ul li a:hover,
    ul li a:active{
      text-decoration: none;
    }
}

@mixin inline-list-divided($color, $font-size:12px, $divider-color:$color){
  @include inline-list($color, $font-size);
    ul li a:after{
      @include inline-divider(10px, 5px, $divider-color);
    }
    ul li:last-child{
      a:after{
        content: '';
      }
    }
}

@mixin row-divider{
  border-top: $border-grey;
  padding-top: 20px;
  margin-top: 20px;
}

@mixin collapsed{
  .banner{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  .logo, .share-links, .toggle-nav{
    text-align: center;
  }
  .logo{
    img{
      height: 30px;
      display: inline;
    }
  }

  .share-links.vcenter {
    margin-top: 0.3%;
    @media(max-width: $screen-xs){
      margin-top: 1.5%;
    }
  }

  .toggle-nav{
      display:inline;
    }

  #main-menu{
    display: none;
    &.mobile-menu{
      display: block;
      position: fixed;
      z-index: 200;
      top: 0;
      height: 100%;
      padding: 25px;
      background: $background-grey;
      border-right: $border-red;
      text-align: left;

      ul{
        margin-top: 0px;
        li{
          display: block;
            padding: 5px;
          a{
            color: $red;
          }
          a:after{
            content: '';
          }
        }
      }
    }
  }
}