@mixin type($color){
    font-family: $sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    color: $color;
}

@mixin inline-divider($padding-left, $padding-right, $color){
  padding-left: $padding-left;
  padding-right: $padding-right;
  content: '/';
  color: $color;
}

@mixin centered{
  margin: 0 auto;
}

@mixin centered-fixed-width($width){
  @include centered;
  max-width: $width;
}

@mixin inline-list($color){
  ul{
      display: inline-block;
      margin: 0px;
      li{
        padding: 0px;
      }
    }
    ul li a{
      display: inline-block;
      @include type($color);
    }
    ul li a:after{
      @include inline-divider(5px, 0px, $color);
    }
    ul li:last-child{
      a:after{
        content: '';
      }
    }
}

@mixin row-divider{
  border-top: $border-grey;
  padding-top: 20px;
  margin-top: 20px;
}
