/**************  Newsletter  **************/
.newsletter-form{
  background: $mid-grey;
  padding: 5px;
  margin-bottom: 2em;

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:   $text-color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:$text-color;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: $text-color;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:$text-color;
  }

  #mc_embed_signup{
    font-family: $sans-serif;
    form{
      padding: 0px;
    }

    label{
      font-style: italic;
      text-align: center;
      font-weight: normal;
    }

    input{
      display: inline-block;
      text-transform: uppercase;

      &::-ms-clear {
        display: none;
      }

      &.email{
        color: $text-color;
        border-radius: none;
        border: none;
        background: none;
        width:74%;
        padding: 5px 5px 0 0;
        box-sizing:border-box;
        margin: 3px 0px 0 0px;
        font-size: 12px;
        outline: none;
        float:left;
      }

      &.button{
        
        @include button;
        width:26%;
        min-width: 0;
        display:inline-block;
        margin: 0px;
        font-weight: 300;
        font-size: 12px;
        padding:2px 0px;
        height: 28px;
        line-height: 28px;
      }
    }
  }
}

