/**************  Search  **************/

#search-box{
  @include search-form;
  display: none;
  opacity: 0;
  width: 100%;
  top: -100px;
  position: fixed;
  overflow-y: hidden;
  z-index: 200;
  padding: 20px 0;

  background-color:rgba(0, 0, 0, 0.8);
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease, opacity 0.4s ease;

  &.open{
    opacity: 1;
    top: 57px;
    overflow-y: visible;
    transform: translate(0, 0%);
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0);
    
  }

  .container{
    padding: 0px 20px;
    margin:0 auto;
    max-width: 580px;
  }

  .search-suggestions{
    display: none;
  }

  @media (min-width: $screen-sm) {
    padding:40px 0;
  }

}

.search-results-page{
  ul li{
    list-style: none;
  }
  .searchbox{
    @include search-form;
    padding: 40px 0;

    @media (min-width: $screen-md) {
      input {
        width:80%;
      }

      button {
        width:17%;
      }

      .clear-button {
        right:21%;
      }
    }
  }

  h1{
    @include subheading;
  }

  h2{
    @include type(black, 16px);
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: $border-grey;
  }
}

