/**************  About us Page / Stream Pages  **************/

.template-stream-page {
	.block-Paragraph, .block-Image, .block-Heading {
		margin-left:0;
		margin-right:0;
	}

	.block-Image{
		margin-bottom: 10px;
	}

	h1 {
		@include subheading;
	}

    h2 {
	  @include subheading(18px);
	}

}
