$container-large-desktop: 940px;
$screen-md-min: 992px;
$grid-float-breakpoint: $screen-md-min;

$serif:'Droid Serif', Georgia, serif;
$sans-serif: 'Droid Sans', Arial, sans-serif;

$text-color: #333;
$red: #bf1e2e;
$grey: #666;
$white: #fff;
$black: #000;
$twitter-blue: #0cf;
$mid-grey: #ccc;
$background-grey: #f3f0f0;

$border-grey: solid 1px $mid-grey;
$border-red: solid 1px $red;
$border-white: solid 1px white;

$input-border-focus: $red;
$jumbotron-bg: #ffffff;
$jumbotron-padding: 0;

$nav-link-padding: 5px;
$navbar-padding-vertical: 0px;
