//color library
$red: #bf1e2e;
$white: #ffffff;
$black: #000000;
$blue: #0098FD;
$grey: #666;
$light-grey: #a5a5a5;
$mid-grey: #d6d6d6;
$background-grey: #f3f0f0;

//screen settings
$container-large-desktop: 940px;
$screen-md-min: 992px;
$screen-tiny-max: 360px;
$grid-float-breakpoint: $screen-md-min;
$breakpoint: 1000px; //to match the javascript breakpoint variable.

//borders
$border-black: solid 1px $black;
$border-grey: solid 1px #ccc !default;
$border-red: solid 1px $red;
$border-white: solid 1px $white;
$border-light-grey: solid 1px #d6d6d6;


//body font
$body-bg-color: #fff !default;
$serif: 'Libre Baskerville', Georgia, serif !default;
$sans-serif: proxima-nova, Helvetica, sans-serif !default;
$font-size-base: 15px !default;
$body-font-weight: 300 !default;
$body-font-line-height: 165% !default;
$text-color: #333 !default;
$text-link-color: $red !default;
$text-link-hover-color: $text-color !default;

$overlay-text-color: #fff !default;
$overlay-link-color: #fff !default;

$footer-bg-color: $white !default;
$footer-text-color: $black !default;
$footer-link-color: $black !default;
$footer-link-hover-color: $red !default;

$header-bg-color: $red !default;
$header-collapsed-bg-color: #000 !default;
$header-text-color: #fff !default;
$header-link-color: #fff !default;
$header-link-hover-color: #000 !default;

//text colors
$heading-color: #000 !default;
$subheading-color: #999999 !default;
$article-list-link-color: $text-color !default;

$caption-color: #929191 !default;

//buttons and pagers
$button-text-color: $white !default;
$button-text-hover-color: $white !default;
$button-bg-color: $red !default;
$button-bg-hover-color: $black !default;

//article elements
$topic-link-color: $red !default;


$blurb-author-link-color: $text-color !default;
$blurb-link-hover-color: $red !default;
$blurb-link-color: $text-color !default;
$blurb-link-hover-color: $red !default;
$blurb-bio-text-color: #666 !default;
$blurb-border-color: $grey !default;
$blurb-border: 1px solid $blurb-border-color !default;

$article-block-bg-color: transparent !default;
$article-block-border-width:3px !default;
$article-block-border-color:$red !default;
$article-block-text-color: $light-grey !default;
$article-block-link-color: $red !default;
$article-block-list-marker-color: $grey !default;

$article-quote-border-width: 3px !default;
$article-quote-border-color: $red !default;
$article-quote-border: solid $article-quote-border-width $article-quote-border-color !default;
$article-quote-text-color: $light-grey !default;

$article-shareable-text-color: $red !default;

$article-toc-bg-color: $article-block-bg-color !default;
$article-toc-border-width: 0px !default;
$article-toc-border-color: $article-toc-bg-color !default;
$article-toc-link-color: $text-link-color !default;
$article-toc-link-hover-color: $text-link-hover-color !default;
$article-toc-link-underline: none !default;
$article-teaser-color: $text-color !default;

$article-citation-color:$light-grey !default;
$article-end-notes-color:$light-grey !default;

$contributor-label-color: $caption-color !default;
$related-contributors-color:$light-grey !default;
$related-contributors-hover-color: $text-color !default;
$related-title-color: $red !default;
$related-title-hover-color: $text-color !default;


$top-link-color: $red !default;

$share-link-color: $text-link-color !default;
$share-link-hover-color: $text-link-hover-color !default;

$badge-color: $blue !default;
$divider-color: $red !default;

$row-border: $border-grey !default;


//bootstrap overrides
$input-border-focus: $red !default;
$jumbotron-bg: $white;
$jumbotron-padding: 0;
$font-family-sans-serif:  $sans-serif;
$font-family-serif: $serif;
$pager-hover-bg: $black;

//feature box limits
$max-rows: 3;
$row-height: 380;
